<div class="dataContent restorationContent">
</div> 
<script type="text/template" id="restoration_detail_template">
  <div class="dialog-width public_css">
    <p class="pull-left detail_css">
      任务详情
    </p>
    <a href="javascript:;" class="button gobackPage goBack">返回</a>
    <p class="showTaskState pull-right">{{menuState(data.state)}}</p>
    <div class="clearfix"></div>
    <hr />
    <br />
    <p>基本信息</p>
    <br />
    <table class="taskTable">
      <tr>
        <th>任务号：</th>
        <td>{{data.taskNo}}</td>
        <th>任务类型：</th>
        <td>{{menuState(data.entrust)}}</td>
        <th>任务发起：</th>
        <td>{{data.upstreamName}}</td>
      </tr>
      <tr>
        <th>车牌号：</th>
        <td>{{data.carNumber}}</td>
        <th>车型：</th>
        <td>{{data.carBrand}}-{{data.carSeries}}-{{data.carModel}}</td>
        <th>颜色：</th>
        <td>{{data.carColor}}</td>
      </tr>
      <tr>
        <th>车辆识别号：</th>
        <td>{{data.carId}}</td>
        <th>车辆发动机号：</th>
        <td>{{data.engineId}}</td>
        <th>任务发布时间：</th>
        <td>{{data.createAt}}</td>
      </tr>
    </table>
    <p>备注信息</p>
    <div class="remark">{{data.remark}}</div>
    {{if attachmentVoList != 0}}
    <div class="imgRecord">
      <p>催收记录</p>
      {{each data.attachmentVoList item index}}
      <img src="{{viewImgRoot}}{{item.url}}?imageMogr2/auto-orient/thumbnail/100x100" alt="图片" onerror="this.src='/src/img/nopic.png'" class="preview-img hand" /> {{/each}}
    </div>
    {{/if}}
    <div class="mainfile">
      <p>线索信息</p>
      {{ each data.traceVoList item index }}
      <div class="upimg">
        <dl>
          <dt>
            <div class="upfile-item">
              <img data-id="{{item.carPhoto}}" src="{{viewImgRoot}}{{item.carPhoto}}?imageMogr2/auto-orient/thumbnail/100x100" class="preview-img hand" onerror="this.src='/src/img/nopic.png'" />
            </div>
          </dt>
          <dd>全车背景照</dd>
        </dl>
      </div>
      <div>
        <p>线索上传时间：{{item.createAt}}</p>
        <p>车架号后6位：{{item.carId}}</p>
        <p>定位：{{item.location}}</p>
      </div>
      {{/each}}
    </div>
    <form id="restoration-detail-form">
      <input type="hidden" name="taskId" id="taskId" value="">
      {{if !data.estimatedMaxPrice && !data.estimatedMinPrice}}
      <div class="upmainfile">
        <p style="margin:20px 0;">分配渠道</p>
        <div class="task-content">
  
        </div>
      </div>
      {{/if}}
      <div class="hopeprice">
        {{if data.state === 'unvaluation'}}
        <p>预估费用</p>
        <div>
          <label>车辆残值估算:</label>
          {{if data.estimatedMaxPrice && data.estimatedMinPrice}}
          <span class="dataCar">{{data.carPrice}}</span> {{else}}
          <input type="text" name="carPrice" maxlength="11" class="OnlyPrice required" id="salvage" value="{{data.carPrice}}" /> 
          {{/if}}
        </div>
        <div>
          <label>处置费用估算:</label>
          {{if data.estimatedMaxPrice && data.estimatedMinPrice}}
          <span>{{data.estimatedMinPrice}}至</span><span>{{data.estimatedMaxPrice}}</span> 
          {{else}}
          <input type="text" name="estimatedMinPrice" class="OnlyPrice required" maxlength="11" id="minMoney" value="{{data.estimatedMinPrice}}" />至
          <input type="text" name="estimatedMaxPrice" class="OnlyPrice required" maxlength="11" id="maxMoney" value="{{data.estimatedMaxPrice}}" /> 
          {{/if}}
        </div>
        {{if data.estimatedMaxPrice && data.estimatedMinPrice}}
        <p>确认费用</p>
        <div>
          <label>费用类型:</label>
          <select name="entrust" id="unconfirmedType" class="ml10">
            <option value="all">找车并拖车</option>
            <option value="trace">只找车</option>
            <option value="recycle">只拖车</option>
          </select>
        </div>
        <div>
          <label>最终处置费用:</label>
          <input type="text" name="finalPrice" maxlength="11" class="OnlyPrice required" id="finalPrice" value=""/>
        </div>
        <div>
          <label>其中受托人费用:</label>
          <input type="text" name="baileePrice" maxlength="11" class="OnlyPrice required" id="baileePrice" value=""/>
        </div>
        <div>
          <label>资产查找费:</label>
          <input type="text" name="assetPrice" maxlength="11" class="OnlyPrice required" id="assetPrice" value="{{data.assetPrice}}" {{if data.infoMoneyStatus===1 }}readonly="readonly"{{/if}}/>
        </div>
        <div>
          <label>第三方处置清收费:</label>
          <input type="text" name="thirdpartyPrice" maxlength="11" class="OnlyPrice required" id="thirdpartyPrice" value=""/>
        </div>
        <input type="submit" value="确认" class="button search-button surePrice" style="margin-bottom:40px;width:150px;height:30px;"> 
        {{else}}
        <input type="submit" value="预估" class="button search-button priceStorage" style="margin-bottom:40px;width:150px;height:30px;"> 
        {{/if}}
      {{/if}} 
        {{if data.state === 'unconfirmed'}}
        <p>预估费用</p>
        <div>
          <label>车辆残值估算:</label>
          <span class="dataCar">{{data.finalPrice}}</span>
        </div>
        <div>
          <label>处置费用估算:</label>
          <span>{{data.estimatedMinPrice}}至</span><span>{{data.estimatedMaxPrice}}</span>
        </div>
        <p>确认费用</p>
        <div>
          <label>费用类型:</label>
          <select name="entrust" id="unconfirmedType" class="ml10">
            <option {{if data.entrust === 'all'}}selected{{/if}} value="all">找车并拖车</option>
            <option {{if data.entrust === 'trace'}}selected{{/if}} value="trace">只找车</option>
            <option {{if data.entrust === 'recycle'}}selected{{/if}} value="recycle">只拖车</option>
          </select>
        </div>
        <div>
          <label>最终处置费用:</label>
          <input type="text" name="finalPrice" maxlength="11" class="OnlyPrice finalPrice required" value="{{data.finalPrice}}"/>
        </div>
        <div>
          <label>其中受托人费用:</label>
          <input type="text" name="baileePrice" maxlength="11" class="OnlyPrice baileePrice required" value="{{if data.finalPrice}}{{baileePrice}}{{/if}}"/>
        </div>
        <div>
          <label>资产查找费:</label>
          <input type="text" name="assetPrice" maxlength="11" class="OnlyPrice assetPrice required" id="assetPrice" value="{{data.assetPrice}}" {{if data.infoMoneyStatus===1 }}readonly="readonly"{{/if}}/>
        </div>
        <div class="thirdpartyPrice_box">
          <label>第三方处置清收费:</label>
          <input type="text" name="thirdpartyPrice" maxlength="11" class="OnlyPrice thirdpartyPrice required" id="thirdpartyPrice" value="{{data.thirdpartyPrice}}"/>
        </div>
        <input type="submit" value="确认" class="button search-button surePrice" style="margin-bottom:40px;width:150px;height:30px;"> 
        {{/if}}
      </div>
    </form>
  </div>
</script>
<script type="text/template" id="xx_task_list">
  <div style="width:460px;">
    <table>
      <tr>
        <td>
          <form id="task_adopt_form">
            <div id="qd-distribution-tab0" class="divied-type" style="max-height: 300px;overflow-y: auto;text-align: left;">
              {{each data item index}}
              <div>
                <input type="radio" name="managerId" {{if channelManagerId === item.id}}checked{{/if}} value="{{item.id}}" data-name="{{item.name}}" class="managerId" />
                <span>{{item.name}}</span>
                <span>
                {{each item.operatorProvinceVoList temp i}}
                     - {{temp.provinceName}},
                {{/each}}
                </span>
              </div>
              {{/each}}
            </div>
          </form>
        </td>
      </tr>
    </table>
  </div>
</script>
<script type="text/javascript">
seajs.use('modules/xinxiyuan/restoration/restoration-detail', function(RestorationDetail) {
  var RestorationDetail = new RestorationDetail();
  RestorationDetail.init();
});
</script>