<div class="restorationContent">
	
</div>
<script type="text/template" id="restoration_detail_template">
    <div class="dialog-width">
        <p class="pull-left">
            任务详情
        </p>
        <input type="submit" value="返回" class="button search-button gobackPage goBack">
        <p class="pull-right">{{menuState(data.state)}}</p>
        <div class="clearfix"></div>
        <hr /><br />
        <p>基本信息</p><br />
        
        <ul>
            <li>任务号：{{data.taskNo}}</li>
            <li>任务类型：{{menuState(data.entrust)}}</li>
            <li>任务发起：{{data.upstreamName}}</li>
            <li>车牌号：{{data.carNumber}}</li>
            <li>车型：{{data.carSeries}}</li>
            <li>颜色：{{data.carColor}}</li>
            <li>车辆识别号：{{data.carId}}</li>
            <li>车辆发动机号：{{data.engineId}}</li>
            <li>任务发布时间：{{data.createAt}}</li>
        </ul>
        <div class="remark">{{data.remark}}</div>
        <div class="imgRecord">
            {{each data.attachmentVoList item index}}
            <img src="{{viewImgRoot}}{{item.url}}" alt="图片" onerror="this.src='/src/img/nopic.png'"/>
            {{/each}}
        </div>
        <div class="mainfile">
        	<p>线索信息</p>
        	{{ each data.traceVoList item index }}
        	<div class="upimg">
        		<dl>
					<dt>
						<div class="upfile-item">
							<img data-id="{{item.carNumberPhoto}}" src="{{viewImgRoot}}{{item.carNumberPhoto}}">
						</div>
		    		</dt>
					<dd>车牌特写照</dd>
				</dl>
        		<dl>
					<dt>
						<div class="upfile-item">
							<img data-id="{{item.carPhoto}}" src="{{viewImgRoot}}{{item.carPhoto}}">
						</div>
	    			</dt>
					<dd>全车背景照</dd>
				</dl>
        	</div>
        	<div style="margin:10px 0;">线索上传时间：{{item.createAt}}</div>
        	{{/each}}
        </div>
        <div class="hopeprice">
        	{{if data.state !== 'unconfirmed'}}
        	<p>预估费用</p>
        	<div>
        		<label>车辆残值估算:</label>
        		<input type="text" maxlength="11" class="OnlyPrice" id="salvage" />
        	</div>
        	<div>
        		<label>处置费用估算:</label>
        		<input type="text" maxlength="11" class="OnlyPrice" id="minMoney" />至<input type="text" class="OnlyPrice" maxlength="11" id="maxMoney" />
        	</div>
        	{{/if}}
        	{{if data.state == 'unconfirmed'}}
        	<p>预估费用</p>
        	<div>
        		<label>车辆残值估算:</label>
        		<span>{{data.carPrice}}</span>
        	</div>
        	<div>
        		<label>处置费用估算:</label>
        		<span>{{data.estimatedMinPrice}}</span>至<span>{{data.estimatedMaxPrice}}</span>
        	</div>
        	<div>
        		<label>最终处置费用:</label>
        		<input type="text" maxlength="11" class="OnlyPrice" id="finalPrice" />
        	</div>
        	<div>
        		<label>其中受托人费用:</label>
        		<input type="text" maxlength="11" class="OnlyPrice" id="baileePrice" />
        	</div>
        	<div>
        		<label>资产查找费:</label>
        		<input type="text" maxlength="11" class="OnlyPrice" id="assetPrice" />
        	</div>
        	<div>
        		<label>第三方处置清收费:</label>
        		<input type="text" maxlength="11" class="OnlyPrice" id="thirdpartyPrice" />
        	</div>
        	{{/if}}
        	{{if data.state == 'unconfirmed'}}
        	<input type="button" value="保存" class="button search-button surePrice" style="margin-bottom:40px;width:150px;height:30px;">
        	{{else}}
        	<input type="button" value="保存" class="button search-button priceStorage" style="margin-bottom:40px;width:150px;height:30px;">
        	{{/if}}
        </div>
    </div>
</script>
<script type="text/javascript">
seajs.use('modules/xinxiyuan/restoration/restoration-detail', function(RestorationDetail) {
    var RestorationDetail = new RestorationDetail();
    RestorationDetail.init();
});
</script>
