<div class="dataContent financeDetailContent">
	
</div>
<script type="text/template" id="finance_detail_template">
    <div class="dialog-width officer-width public_css">
        <p class="pull-left">
            任务详情
        </p>
        <a href="javascript:;" class="button gobackPage goBack">返回</a>
        <p class="pull-right">{{menuState(data.state)}}</p>
        <div class="clearfix"></div>
        <hr /><br />
        <p>基本信息</p><br />
        
        <ul>
            <li>任务号：{{data.taskNo}}</li>
            <li>任务类型：{{menuState(data.entrust)}}</li>
            <li>车牌号：{{data.carNumber}}</li>
            <li>车型：{{data.carBrand}}-{{data.carSeries}}-{{data.carModel}}</li>
            <li>颜色：{{data.carColor}}</li>
            <li>车辆识别号：{{data.carId}}</li>
            <li>车辆发动机号：{{data.engineId}}</li>
            <li>任务发布时间：{{data.createAt}}</li>
        </ul>
        <div class="remark">{{data.remark}}</div>
        <div class="imgRecord">
            {{each data.attachmentVoList data index}}
            <img data-id="{{data.url}}" src="{{viewImgRoot}}{{data.url}}?imageMogr2/auto-orient/thumbnail/100x100" alt="图片" onerror="this.src='/src/img/nopic.png'" title="附件{{index+1}}"/>
            {{/each}}
        </div>
        <div class="upmainfile">
        	<label>债权方最终确认费用：{{data.finalPrice}}</label>
        	<span></span>
        </div>
        <div class="upmainfile" style="border-top:1px dashed #ccc;">
        	<p style="margin:20px 0;">平台到账确认</p>
        	<form id="plat-sure-money">
	        	<table>
	                <tr>
	                    <td>交易方式</td>
	                    <td>
	                        <select name="payType">
	                            <option value="1">支付宝</option>
	                            <option value="2">微信</option>
	                            <option value="3">现金</option>
	                        </select>
	                    </td>
	                    <td rowspan="5">
	                    	{{if data.loanerMoneyStatus == "1"}}
	                        <span>已收款</span>
	                        {{else}}
	                        <a class="button platSure">平台确认收到款项</a>
	                        {{/if}}
	                    </td>
	                </tr>
	                <tr>
	                    <td>交易时间</td>
	                    <td>
	                        <input type="text" name="dealTime" value="" id="dealTime" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'dealTime\')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
	                    </td>
	                </tr>
	                <tr>
	                    <td>打款人</td>
	                    <td>
	                        <input type="text" name="payer">
	                    </td>
	                </tr>
	                <tr>
	                    <td>收款人</td>
	                    <td>
	                        <input type="text" name="payee">
	                    </td>
	                </tr>
	                <tr>
	                    <td>实收金额</td>
	                    <td>
	                        <input type="text" name="amount">
	                    </td>
	                </tr>
	            </table>
        	</form>
        </div>
        <div class="upmainfile" style="border-top:1px dashed #ccc;">
        	<table>
                <tr>
                    <td>总处置费: {{finalilmoney}}</td>
                    <td>查找费
                    	{{if data.infoMoneyStatus == "1"}}
                    	(已发)
                    	{{else}}
                    	(未发)
                    	{{/if}}
                    	:{{data.assetPrice}}</td>
                    <td>清收费{{if data.hunterMoneyStatus == "1"}}
                    	(已发)
                    	{{else}}
                    	(未发)
                    	{{/if}}
                    	: {{data.thirdpartyPrice}}</td>
                    <td rowspan="3">
                    	{{if data.hunterMoneyStatus == "1" && data.infoMoneyStatus == "1"}}
                        <span>已放款</span>
                        {{else}}
                        <a class="button advanceLoan">提前放款</a>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                	<td>发放费用：{{finalsendmoney}}</td>
                	<td colspan="2"></td>
                </tr>
                <tr>
                	<td><a class="button">查看债权委托书</a></td>
                	<td colspan="2"><a class="button">查看捕头委托书</a></td>
                </tr>
            </table>
        </div>
    </div>
</script>
<script type="text/javascript">
seajs.use('modules/finance/finance-detail', function(FinanceDetail) {
    var FinanceDetail = new FinanceDetail();
    FinanceDetail.init();
});
</script>