<div class="dataContent">
  <div class="clearfix">
    <a href="javascript:;" class="button gobackPage goBack">返回</a>
  </div>
  <div class="data-container colorbg">
    <div class="clearfix">
      <div class="clue-left-layout pull-left">
        <ul id="clue-echarts-list"></ul>
        <div class="information">
          <form id="informerOne-form">
            <p class="title-style">
              <span class="span-style">新增线人</span>
              <span class="hunter_name">共有<i class="informer_sum"></i>条线索</span>
              <input type="hidden" name="type" value="downstream" />
              <input type="text" class="search-input hand startTime pull-right" readonly="readonly" name="yearMonth" id="infoTimeInput" onclick="WdatePicker({startDate:'%y',maxDate:'%y-%M',dateFmt:'yyyy-MM', Mchanging:statisticRecoveryMonthing,ychanging:statisticRecoveryYearing,isShowClear:true})">
            </p>
          </form>
          <div>
            <div id="mainInformate" class="mainInformate" style="width:100%;height:300px;"></div>
          </div>
        </div>
      </div>
      <div class="clue-right-layout pull-right">
        <div class="information">
          <form id="clear-info-form">
            <p class="title-style">
              <span class="span-style">发展线人对应渠道</span>
              <input type="text" class="search-input hand startTime pull-right" readonly="readonly" id="entrustTimeInput" name="yearMonth" onclick="WdatePicker({startDate:'%y',maxDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd', dchanging:statisticEntrustDaying, Mchanging:statisticEntrustMonthing,ychanging:statisticEntrustYearing,isShowClear:true})">
            </p>
          </form>
          <div>
            <div id="mainCarNum" class="mainInformate" style="width:100%;height:300px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="information" style="height:600px;">
        <form id="clear-info-form">
          <p class="title-style">
            <span class="span-style">线人分布情况</span>
            <span id="informerWorld" class="findWorld button">查看全国</span>
            <span class="pull-right informer_hunter" style="width:30%;text-align: center;"><i class="infoHun_name"></i>共有<i class="infoHun_sum"></i>个线人</span>
          </p>
        </form>
        <div>
          <div id="mainBarNum" class="pull-left" style="width:70%;height:500px;"></div>
          <div class="informateTable pull-right" style="width:28%;">
            <div class="data-container">
              <table class="dataShow">
                <thead>
                  <tr>
                    <th width="8%">市级</th>
                    <th width="8%">线人数量</th>
                  </tr>
                </thead>
                <tbody id="informer_ranking_container"></tbody>
              </table>
              <div class="page-box pagination" id="page_clear_container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="information">
      <form id="downstream-info-form">
        <p class="title-style">
          <span class="span-style">活跃线人统计</span>
          <input type="text" class="search-input hand startTime pull-right" readonly="readonly" id="carRecoveryInput" name="yearMonth" onclick="WdatePicker({startDate:'%y',maxDate:'%y-%M',dateFmt:'yyyy-MM', Mchanging:statisticTraceMonthing,ychanging:statisticTraceMonthing,isShowClear:true})">
        </p>
      </form>
      <div class="informateTable">
        <div class="data-container">
          <table class="dataShow">
            <thead>
              <tr>
                <th width="4%">序号</th>
                <th width="8%">名称</th>
                <th width="8%">账号</th>
                <th width="8%">联系电话</th>
                <th width="15%">注册时间</th>
                <th width="8%">本月上传</th>
              </tr>
            </thead>
            <tbody id="downstream_statistic_container">
            </tbody>
          </table>
          <div class="page-box pagination" id="page_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/template" id="statistic_informer_template">
  <li>
    <table>
    	<tr>
    	  <th><span class="total_task_statistic day_number"></span>今日线人</th>
    	  <th>环比昨日<span class="total_monthNum {{if informer.dayChainChange < 0}}month_downnumber{{else}}month_upnumber{{/if}}"></th>
    	</tr>
    	<tr>
    	  <td>{{informer.dayAdded}}</td>
    	  <td>{{informer.dayChainChange}}</td>
    	</tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <th><span class="total_task_statistic month_number"></span>本月线人</th>
        <th>环比上月<span class="total_monthNum {{if informer.monthChainChange < 0}}month_downnumber{{else}}month_upnumber{{/if}}"></th>
      </tr>
      <tr>
        <td>{{informer.monthAdded}}</td>
        <td>{{informer.monthChainChange}}</td>
      </tr>
    </table>
  </li>
  <li>
    <table>
    	<tr>
    	  <th>线索总计</th>
    	</tr>
    	<tr>
    	  <td>{{informer.total}}</td>
    	</tr>
    </table>
  </li>
</script>
<!--活跃线人统计-->
<script type="text/template" id="downstream_content_template">
  {{ each list item index }}
  <tr>
    <td>{{index+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.account}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.registerAt}}</td>
    <td>{{item.count}}</td>
  </tr>
  {{/each}}
</script>
<!--排名-->
<script type="text/template" id="informer_ranking_template">
  {{ each list item index }}
  <tr>
    <td>{{item.area}}</td>
    <td>{{item.count}}</td>
  </tr>
  {{/each}}
</script>

<script type="text/javascript">
  seajs.use('modules/statistic/informer-statistic', function(InformerStatistic) {
    var InformerStatistic = new InformerStatistic();
    InformerStatistic.init();
  });
</script>