<div class="dataContent">
  <div class="clearfix">
    <a href="javascript:;" class="button gobackPage goBack">返回</a>
  </div>
  <div class="data-container colorbg">
    <div class="clue-left-layout pull-left">
      <ul id="clue-echarts-list"></ul>
      <div class="information">
        <form id="task-information-form">
          <p class="title-style">
            <span class="span-style">任务统计</span>
            <input type="hidden" name="type" value="task" />
            <input type="text" class="search-input hand startTime pull-right" readonly="readonly" name="yearMonth" id="infoTimeInput" onclick="WdatePicker({dateFmt:'yyyy-MM', Mchanging:statisticPassMonthing,ychanging:statisticPassYearing,isShowClear:true})">
          </p>
        </form>
        <div>
          <div id="mainInformate" class="mainInformate" style="width:100%;height:380px;"></div>
        </div>
      </div>
      <div>
        <div id="mainCarNum" class="mainInformate" style="width:100%;height:380px;"></div>
      </div>
    </div>
    <div class="clue-right-layout pull-right">
      <div class="informateTable">
        <p>
          <span class="span-style">商务关联任务排名</span>
          <input type="text" class="search-input hand startTime pull-right" readonly="readonly" name="yearMonth" id="infoTimeInput" onclick="WdatePicker({dateFmt:'yyyy-MM', Mchanging:statisticTraceMonthing,ychanging:statisticTraceYearing,isShowClear:true})">
        </p>
        <div class="data-container">
          <table class="dataShow">
            <thead>
              <tr>
                <th width="4%">排名</th>
                <th width="8%">名称</th>
                <th width="8%">数量</th>
              </tr>
            </thead>
            <tbody id="task_statistic_container">
            </tbody>
          </table>
          <div class="page-box pagination" id="page_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="statistic_first_template">
  <li>
    <table>
      <tr>
        <th><span class="total_task_statistic day_number"></span>今日任务</th>
        <th>环比昨日<span class="total_monthNum {{if task.dayChainChange < 0}}month_downnumber{{else}}month_upnumber{{/if}}"></span></th>
      </tr>
      <tr>
        <td>{{task.dayAdded}}</td>
        <td>{{task.dayChainChange}}</td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <th><span class="total_task_statistic month_number"></span>本月任务</th>
        <th></span>环比上月<span class="total_monthNum  {{if task.monthChainChange < 0}}month_downnumber{{else}}month_upnumber{{/if}}"></th>
      </tr>
      <tr>
        <td>{{task.monthAdded}}</td>
        <td>{{task.monthChainChange}}</td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <th>任务总数</th>
      </tr>
      <tr>
        <td>{{task.total}}</td>
      </tr>
    </table>
  </li>
</script>

<script type="text/template" id="task_statistic_content_template">
  {{ each list item index }}
  <tr>
    <td>{{item.rank}}</td>
    <td>{{item.name}}</td>
    <td>{{item.count}}</td>
  </tr>
  {{/each}}
</script>

<script type="text/javascript">
  seajs.use('modules/statistic/task-statistic', function(TaskStatistic) {
    var TaskStatistic = new TaskStatistic();
    TaskStatistic.init();
  });
</script>