<div class="dataContent wishDetailContent">
  
</div>
<script type="text/template" id="activity_detail_template">
    <div class="dialog-width public_css">
        <p class="pull-left detail_css">心愿详情</p>
        <a href="javascript:;" class="button gobackPage goBack">返回</a>
        <p class="showTaskState pull-right">{{data.stateToString(data.status)}}</p>
        <div class="clearfix"></div>
        <hr /><br />
        <p>基本信息</p><br />
        
        <table class="taskTable">
          <tr>
            <th>姓名：</th>
            <td>{{if data.downstreamName}}{{data.downstreamName}}{{/if}}</td>
            <th>联系电话：</th>
            <td>{{if data.downstreamPhone}}{{data.downstreamPhone}}{{/if}}</td>
            <th>许愿日期：</th>
            <td>{{if data.createAt}}{{data.createAt}}{{/if}}</td>
          </tr>
          <tr>
            <th>许愿商品：</th>
            <td>{{if data.goodsName}}{{data.goodsName}}{{/if}}</td>
            <th>商品价值：</th>
            <td>{{if data.goodsPrice}}{{data.goodsPrice}}（元）{{/if}}</td>
            <th>所需金币：</th>
            <td>{{if data.coin}}{{data.coin}}{{/if}}</td>
          </tr>
          <tr>
            <th>已有金币：</th>
            <td>{{if data.fund}}{{data.fund}}{{/if}}</td>
            <th>收货人电话：</th>
            <td>{{if data.contactNumber}}{{data.contactNumber}}{{/if}}</td>
            <th>收货地址：</th>
            <td>{{if data.mailingAddress}}{{data.mailingAddress}}{{/if}}</td>
          </tr>
        </table>
    </div>
</script>
<script type="text/javascript">
seajs.use('modules/activityManage/activity-two-detail', function(ActivityTwoDetail) {
    var ActivityTwoDetail = new ActivityTwoDetail();
    ActivityTwoDetail.init();
});
</script>