<div class="dataContent">
  <div class="search-container">
    <form id="activityTwo-form">
      <table class="common_query textLeft search-content">
        <tr class="new-style">
          <td>
              <label class="label">姓名：</label>
              <input type="text" class="search-input" name="downstreamName">
          </td>
          <td>
              <label class="label">状态：</label>
              <select name="status">
                <option value="">全部</option>
                <option value="2">已达成</option>
                <option value="1">未达成</option>
                <option value="0">新许愿</option>
                <option value="3">审核未通过</option>
                <option value="4">已发放</option>
              </select>
          </td>
          <td>
            <input type="submit" value="查询" class="button search-button">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="data-container">
    <table class="dataShow">
      <thead>
        <tr>
          <th width="5%">序号</th>
          <th width="8%">姓名</th>
          <th width="10%">联系电话</th>
          <th width="15%">许愿日期</th>
          <th width="10%">许愿商品</th>
          <th width="8%">商品价值/元</th>
          <th width="8%">所需金币</th>
          <th width="8%">已有金币</th>
          <th width="8%">状态</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody id="activity_two_container">

      </tbody>
    </table>
    <div class="page-box pagination" id="page_container"></div>
  </div>
</div>

<script type="text/template" id="activity-two-template">
  {{ each list item index }}
  <tr>
    <td>{{index+1}}</td>
    <td>{{item.downstreamName}}</td>
    <td>{{item.downstreamPhone}}</td>
    <td>{{item.createAt}}</td>
    <td>{{item.goodsName}}</td>
    <td>{{item.goodsPrice}}</td>
    <td>{{item.coin}}</td>
    <td>{{item.fund}}</td>
    <td>{{stateToString(item.status)}}</td>
    <td>
      {{if item.status == '3' || item.status == '4'}}
        {{if item.status == '3'}}
        
        {{/if}}
      {{else}}
      {{if item.status == '2'}}
      <a data-info="{{item}}" class="sureGive button">完成愿望</a>
      {{/if}}
      {{if item.status == '0'}}
      <a data-id="{{item.id}}" class="rewardWill button">审核</a>
      {{/if}}
      <a data-info="{{item}}" class="activityTwoDetail greyStyle button">详情</a>
      {{/if}}
    </td>
  </tr>
  {{/each}}
</script>
<!--完成愿望-->
<script type="text/template" id="send_awards_two_Template">
  <form id="send_awards_two_Form">
    <table class="noboder">
        <tbody>
          <tr>
            <td>发放礼品：</td>
            <td>{{data.goodsName}}</td>
            <td>价值：</td>
            <td>{{data.goodsPrice}}元</td>
          </tr>
          <tr>
            <td>发放时间：</td>
            <td colspan="3">
              <input type="text" class="search-input hand begin-input" style="height:26px;border:1px solid #ccc;" readonly="readonly" name="sendTime" id="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})">
            </td>
          </tr>
        </tbody>
      </table>
  </form>
</script>

<!--心愿审核-->
<script type="text/template" id="wish_audit_template">
  <div class="divied-width ">
    <div class="divied-type">
      <input type="radio" name="status" value="1" id="through" class="isThrough" />通过
      <input type="radio" name="status" value="0" id="nothrough" class="isThrough" />拒绝
    </div>
    <div class="divied-content sure_con hide">
      <label>所需金币：</label>
      <input type="text" name="" id="coin_val" value="" maxlength="7" style="height:26px;border:1px solid #ccc;" placeholder="填写所需金币" />
    </div>
    <div class="divied-content result_con hide">
      <label>拒绝原因：</label>
      <textarea name="" maxlength="40" id="identifyContent"></textarea>
    </div>
  </div>
</script>

<script type="text/javascript">
  seajs.use('modules/activityManage/activity-two', function(ActivityTwo) {
    var ActivityTwo = new ActivityTwo();
    ActivityTwo.init();
  });
</script>
