<div class="dataContent customerManageContent">

</div>
<script type="text/template" id="customer_manage_detail_template">
  <div class="dialog-width public_css">
    <p class="pull-left detail_css">
      客户详情
    </p>
    <a href="javascript:;" class="button gobackPage goBack">返回</a>
    <div class="clearfix"></div>
    <hr /><br />
    <p>基本信息</p><br />
    <table class="taskTable">
      <tr>
        <th>主体类型：</th>
        <td>{{menuState(data.type)}}</td>
        <th>注册帐户名：</th>
        <td>{{data.username}}</td>
        <th>注册手机号：</th>
        <td>{{data.mobile}}</td>
      </tr>
      {{if data.type === 'UPSTREAM_ENTERPRISE'}}
      <tr>
        <th>主体名称：</th>
        <td>{{data.companyName}}</td>
        <th>法人代表：</th>
        <td>{{data.legalPerson}}</td>
        <th>法人身份证号：</th>
        <td>{{data.identityCard}}</td>
      </tr>
      {{/if}}
      <tr>
        {{if data.type === 'UPSTREAM_ENTERPRISE'}}
        <th>营业执照：</th>
        <td>{{data.businessLicenseNo}}</td>
        <th>详细地址：</th>
        <td>{{data.address}}</td>
        {{else}}
        <th>身份证号：</th>
        <td>{{data.identityCard}}</td>
        {{/if}}
        <th>联系人姓名：</th>
        <td>{{data.linkman}}</td>
        {{if data.type === 'UPSTREAM_PERSONAL'}}
        <th>联系电话：</th>
        <td>{{data.contactPhone}}</td>
        {{/if}}
      </tr>
      <tr>
        {{if data.type === 'UPSTREAM_ENTERPRISE'}}
        <th>联系电话：</th>
        <td>{{data.contactPhone}}</td>
        {{/if}}
        <th>固定电话：</th>
        <td>{{data.telephone}}</td>
        <th>邮箱：</th>
        <td>{{data.email}}</td>
        {{if data.type === 'UPSTREAM_PERSONAL'}}
        <th>&nbsp;&nbsp;&nbsp;</th>
        <td>&nbsp;&nbsp;&nbsp;</td>
        {{/if}}
      </tr>
    </table>
    <div class="mainfile">
      <p>资质信息</p>
      <div class="upimg">
        {{if data.type !== 'UPSTREAM_PERSONAL'}}
        <dl>
          <dt class="upload-pa">
            <img class="preview-img hand" src="{{viewImgRoot}}{{data.businessLicense}}?imageMogr2/auto-orient/thumbnail/100x100" onerror="this.src='/src/img/nopic.png'">
          </dt>
          <dd>营业执照</dd>
        </dl>
        <dl>
          <dt class="upload-pa">
            <img class="preview-img hand" src="{{viewImgRoot}}{{data.legalPersonIdImg}}?imageMogr2/auto-orient/thumbnail/100x100" onerror="this.src='/src/img/nopic.png'">
          </dt>
          <dd>法人身份证照片</dd>
        </dl>
        <dl>
          <dt class="upload-pa">
            <img class="preview-img hand" src="{{viewImgRoot}}{{data.legalPersonHandIdImg}}?imageMogr2/auto-orient/thumbnail/100x100" onerror="this.src='/src/img/nopic.png'">
          </dt>
          <dd>法人手持身份证正面照片</dd>
        </dl>
        {{/if}}
        <dl>
          <dt class="upload-pa">
            <img class="preview-img hand" src="{{viewImgRoot}}{{data.linkmanIdImg}}?imageMogr2/auto-orient/thumbnail/100x100" onerror="this.src='/src/img/nopic.png'">
          </dt>
          <dd>负责人身份证照片</dd>
        </dl>
        <dl>
          <dt class="upload-pa">
            <img class="preview-img hand" src="{{viewImgRoot}}{{data.linkmanHandIdImg}}?imageMogr2/auto-orient/thumbnail/100x100" onerror="this.src='/src/img/nopic.png'">
          </dt>
          <dd>负责人手持身份证正面照片</dd>
        </dl>
      </div>
    </div>
    <div class="upmainfile">
      <form id="uploadimg-form" style="position:absolute;top:-155px;opacity: 0;" enctype="multipart/form-data" action="{{REQUESTROOT}}/task/excelCheck" method="post">  
        <input type="file" title="选择文件" name="file" id="fileUpload"/>
        <input type="hidden" name="upstreamId" id="" value="{{upstreamId}}" />
        <input type="hidden" name="token" id="" value="{{token}}" />
        <input id="fileBtn" type="submit" class="btn" value="文件上传"/>  
      </form>
      <form id="customer-detail-form">
        <table class="common_query textLeft search-content">
          <tbody class="new-style">
            <tr>
              <td>
                <label class="label">车牌号：</label>
                <input type="text" class="search-input" name="carNumber">
              </td>
              <td>
                <label class="label">品牌：</label>
                <input type="text" class="search-input" name="carBrand">
              </td>
              <td>
                <label class="label">任务状态：</label>
                <select name="state">
                  <option value="">全部</option>
                  <option value="new">待审核</option>
                  <option value="invalid">审核未通过</option>
                  <option value="undistributed">待分发</option>
                  <option value="unarrange">待分配</option>
                  <option value="tracing">查找中</option>
                  <option value="clueChecking">已发现</option>
                  <option value="unvaluation">待估价</option>
                  <option value="unconfirmed">待出委托</option>
                  <option value="voucherChecking">委托审核中</option>
                  <option value="voucherInvalid">凭证审核未通过</option>
                  <option value="hunterUnreceive">捕头待确认</option>
                  <option value="hunterReceive">捕头已确认</option>
                  <option value="platReceive">平台已收车</option>
                  <option value="upstreamReceive">已完成</option>
                  <option value="closed">已关闭</option>
                </select>
              </td>
              <td>
                <input type="submit" value="查询" class="button search-button">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <ol class="ordinary">
        <li class="hand" id="removeFile">+协助关闭任务</li>
        <li class="helpTask hand">+协助任务发布</li>
        <li class="hand" id="taskCheckout">+任务校验</li>
        <div style="float:right;margin-top:22px;" id="importFile">+协助批量导入任务</div>
      </ol>
      <table>
        <thead>
          <tr>
            <th width="4%">
              <input type="checkbox" id="checkAll" />
            </th>
            <th>序号</th>
            <th>车牌号</th>
            <th>品牌</th>
            <th>车型</th>
            <th>车辆识别号</th>
            <th>车辆发动机号</th>
            <th width="8%">任务状态</th>
            <th width="8%">违章地区</th>
            <th>违章时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="subTask_container">
        </tbody>
      </table>
      <div class="page-box pagination" id="page_task_container"></div>
    </div>
    <div class="clearfix"></div>
    <p>联系小计</p>
    <hr />
    <br />
    <div class="upmainfile onlineSubtotal">
      <ol>
        <li class="addSubtotal hand">+添加联系小计</li>
      </ol>
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>备注</th>
            <th>联系对象</th>
            <th>联系方式</th>
            <th>联系时间</th>
          </tr>
        </thead>
        <tbody id="subtotal_container">
        </tbody>
      </table>
      <div class="page-box pagination" id="page_container"></div>
    </div>
  </div>
</script>

<script type="text/template" id="taskSubtotal_template">
  {{ each list item index }}
  <tr class="trData">
    <td>
      {{if item.state !== 'closed'}}
      <input type="checkbox" value="{{item.id}}" name="taskIds" />
      {{else}}
      &nbsp;&nbsp;
      {{/if}}
    </td>
    <td class="remark_position">{{index+1}}<p style="top:-10px;" class="{{if item.canExecute == '0'}}isOptionRemark{{else}}isNoOptionRemark{{/if}}"></p><span id="span_remark">{{if item.canExecute == '0'}}任{{else}}执{{/if}}</span></td>
    <td>{{item.carNumber}}</td>
    <td>{{item.carBrand}}</td>
    <td>{{item.carSeries}}-{{item.carModel}}</td>
    <td>{{item.carId}}</td>
    <td>{{item.engineId}}</td>
    <td>{{menuState(item.state)}}</td>
    <td>{{item.city}}</td>
    <td>{{item.occurAt}}</td>
    <td>
      <a data-id="{{item.id}}" class="record-detail button">详情</a>
      <a data-id="{{item.id}}" class="record-distribution oneStyle button">编辑</a>
    </td>
  </tr>
  {{/each}}
</script>
<script type="text/template" id="addSubtotal_template">
  {{ each list item index }}
  <tr class="trData">
    <td>{{index+1}}</td>
    <td>{{item.content}}</td>
    <td>{{item.contacts}}</td>
    <td>{{item.contactPhone}}</td>
    <td>{{item.createAt}}</td>
  </tr>
  {{/each}}
</script>
<script type="text/template" id="creditor_addSubtotal_template">
  <div class="officer-width">
    <form id="sub-customer-form">
      <div class="addContent customerType">
        <div>
          <label>联系对象</label>
          <input type="text" name='contacts' maxlength="11" placeholder="请输入联系对象" id="subPerson" />
        </div>
        <div>
          <label>联系方式</label>
          <input type="text" name='contactPhone' class="isTelephone" maxlength="13" placeholder="请输入联系方式" class="isMobile" id="subStyle" />
        </div>
        <div>
          <label>联系内容</label>
          <textarea name="content" maxlength="40" placeholder="请输入联系内容,最多可输入40字" id="subContent"></textarea>
        </div>
      </div>
    </form>
  </div>
</script>
<script type="text/template" id="creditor-publishTask-template">
  <div class="increated">
    <form id="creditor-publishTask-form">
      <p class="pull-left">
        协助发布任务
      </p>
      <div class="clearfix"></div>
      <hr />
      <br />
      <div class="taskpull">
        <p class="pull-left" style="border-right:1px dashed #ccc;width: 40%;">
          <label class="big-label">任务类型</label>
          <br />
          <br />
          <select name="entrust" class="search-select required" style="border-color:#eee;outline: 0;" id="taskTypeFlag">
            <option value="all">无定位需找+拖</option>
            <option value="trace">无定位只需找车</option>
            <option value="recycle">有定位只需拖车</option>
          </select>
        </p>
        <p class="pull-left" style="padding-left:50px;">
          <sub style="font-size:24px;color:red;">*</sub>
          <label class="big-label">债务人(车主)姓名</label>
          <input type="text" style="width:220px;" class="search-input required" name="debtor" maxlength="10" placeholder="请输入债务人姓名">
          <br />
          <label class="big-label">债务人(车主)身份证号</label>
          <input type="text" style="width:220px;" class="search-input isIdCard" name="debtorIdNumber" maxlength="18" placeholder="请输入债务人身份证号">
        </p>
      </div>
      <div class="increateNewInfo">
        <p class="carsInfo">车辆信息</p>
        <div>
          <sub style="font-size:24px;color:red;">*</sub>
          <label class="newlabel">车 牌 号：</label>
          <select name="carNumber_province" class="search-select carSelect public-select" style="width:72px;">
            <option value="">区域</option>
            <option value="京">京</option>
            <option value="粤">粤</option>
            <option value="皖">皖</option>
            <option value="闽">闽</option>
            <option value="甘">甘</option>
            <option value="桂">桂</option>
            <option value="贵">贵</option>
            <option value="琼">琼</option>
            <option value="冀">冀</option>
            <option value="豫">豫</option>
            <option value="黑">黑</option>
            <option value="鄂">鄂</option>
            <option value="湘">湘</option>
            <option value="吉">吉</option>
            <option value="苏">苏</option>
            <option value="赣">赣</option>
            <option value="辽">辽</option>
            <option value="蒙">蒙</option>
            <option value="宁">宁</option>
            <option value="青">青</option>
            <option value="鲁">鲁</option>
            <option value="晋">晋</option>
            <option value="陕">陕</option>
            <option value="山">山</option>
            <option value="沪">沪</option>
            <option value="川">川</option>
            <option value="津">津</option>
            <option value="藏">藏</option>
            <option value="新">新</option>
            <option value="云">云</option>
            <option value="浙">浙</option>
            <option value="渝">渝</option>
            <option value="港">港</option>
            <option value="澳">澳</option>
            <option value="台">台</option>
          </select>
          <input type="text" class="search-input cnNumberLetter required" name="add_carNumber" maxlength="6" placeholder="输入车牌号">
        </div>
        <div>
          <label class="newlabel">车辆信息：</label>
          <select name="carBrand" class="search-select" id="customer-addTask-carBrand">
            <option value="" data-id="">请选择品牌</option>
          </select>
          <input type="hidden" name="carBrandId" id="carBrandId">
          <select name="carSeries" class="search-select" id="customer-addTask-carSeries">
            <option value="" data-id="">请选择车系</option>
          </select>
          <input type="hidden" name="carSeriesId" id="carSeriesId">
          <select name="carModel" class="search-select" id="customer-addTask-carModel">
            <option value="" data-id="">请选择车型</option>
          </select>
          <input type="hidden" name="carModelId" id="carModelId">
        </div>
        <div>
          <label class="newlabel">车身颜色：</label>
          <input type="text" class="search-input" name="carColor" maxlength="10" placeholder="请输入车辆颜色">
          <label class="newlabel hide" style="margin-left:20px;width:70px;">定位区域：</label>
          <input type="text" id="dwLocation" class="search-input hide" name="location" placeholder="请输入定位">
        </div>
        <div>
          <label class="newlabel">车辆识别号：</label>
          <input type="text" class="search-input" name="carId" maxlength="17" placeholder="请输入车辆识别号">
          <span style="color:#ffa500;">温馨提示：输入车架号后6位，车辆被找回的可能性会大幅增加</span>
        </div>
        <div>
          <label class="newlabel">车辆发动机号：</label>
          <input type="text" class="search-input" name="engineId" minlength="6" placeholder="请输入发动机号">
          <span style="color:#ffa500;">温馨提示：输入发动机号后6位，车辆被找回的可能性会大幅增加</span>
        </div>
        <div>
          <sub style="font-size:24px;color:red;">*</sub>
          <label>诉讼状态：</label>
          <br>
          <div style="display: inline-block;width:40%;">
            <label for="">法院是否已立案</label>
            <input type="radio" class="required" name="isFiling" value="1" />是
            <input type="radio" class="required" name="isFiling" value="0" />否
          </div>
          <div style="display: inline-block;width:50%;">
            <label style="margin-left:100px;">财产是否已保全</label>
            <input type="radio" class="required" name="isPreser" value="1" />是
            <input type="radio" class="required" name="isPreser" value="0" />否
          </div>
          <br>
          <div style="display: inline-block;width:40%;">
            <label for="">判决是否已生效</label>
            <input type="radio" class="required" name="isEffect" value="1" />是
            <input type="radio" class="required" name="isEffect" value="0" />否
          </div>
          <div style="display: inline-block;width:50%;">
            <label style="margin-left:100px;">案件是否已执行</label>
            <input type="radio" class="required" name="isExecute" value="1" />是
            <input type="radio" class="required" name="isExecute" value="0" />否
          </div>
          <br>
        </div>
        <textarea name="remark" style="width:800px;height:80px;resize:none;" placeholder="此处填写您需要特别说明的备注信息，最多50字" maxlength="50"></textarea>
      </div>
      <div class="upimg ordinary">
        <div id="attachment">催收记录</div>
        <br>
        <br>
        <div class="upload-list"></div>
      </div>
      <div class="upimg ordinary upHide">
        <div id="courtDecision">法院判决书</div>
        <br>
        <br>
        <div class="upload-list"></div>
      </div>
    </form>
  </div>
</script>
<script type="text/javascript">
  seajs.use('modules/customerManage/customer-manage-detail', function(CustomerManageDetail) {
    var CustomerManageDetail = new CustomerManageDetail();
    CustomerManageDetail.init();
  });
</script>