<div class="dataContent entrustmentListContent">

</div>
<script type="text/template" id="entrustment_detail_template">
	<div class="dialog-width noTable">

		<p class="pull-left">
			验真委托详情
		</p>
		<a href="javascript:;" class="button gobackPage goBack">返回</a>

		<div class="clearfix"></div>
		<hr /><br />
		<p class="pull-left">基本信息</p>
		{{if data.state === "unverified"}}
		<p class="showTaskState pull-right">{{menuState(data.state)}}</p>
		{{else}}
		<p class="showTaskState pull-right">
			{{if data.isIssue === 0}} 委托不存在 {{else}} 委托存在 {{/if}}
		</p>
		
		{{/if}}
		<div class="clearfix"></div>
		<div>
			<label>上传捕头：</label>
			<span>{{data.name}}</span>
		</div>
		<div>
			<label>所属公司：</label>
			<span>{{data.company}}</span>
		</div>
		<div>
			<label>上传时间：</label>
			<span>{{data.createAt}}</span>
		</div>
		<div class="mainfile">
			<p>委托信息</p>
			<div class="upimg">
				<img data-id="{{data.pic1}}" src="{{viewImgRoot}}{{data.pic1}}?imageMogr2/auto-orient/thumbnail/100x100" class="preview-img hand" onerror="this.src='/src/img/nopic.png'"/>
				<img data-id="{{data.pic2}}" src="{{viewImgRoot}}{{data.pic2}}?imageMogr2/auto-orient/thumbnail/100x100" class="preview-img hand" onerror="this.src='/src/img/nopic.png'"/>
				<img data-id="{{data.pic3}}" src="{{viewImgRoot}}{{data.pic3}}?imageMogr2/auto-orient/thumbnail/100x100" class="preview-img hand" onerror="this.src='/src/img/nopic.png'"/>
			</div>
		</div>
		{{if data.state === "unverified"}}
		<div>
			<p>委托验证</p>
			<div>
				<label style="width:150px;font-weight: 500;">债权方是否出具该委托:</label>
				<input type="radio" value="1" name="isIssue" class="isIssue" />是
				<input type="radio" value="0" name="isIssue" class="isIssue" />否
			</div>
		</div>
		<a class="button search-button isRight" href="javascript:;">确认</a> {{/if}}
	</div>
</script>
<script type="text/javascript">
	seajs.use('modules/xinxiyuan/xx-entrustment/xx-entrustment-detail', function(EntrustmentListDetail) {
		var EntrustmentListDetail = new EntrustmentListDetail();
		EntrustmentListDetail.init();
	});
</script>