<div class="dataContent taskListContent">

</div>
<script type="text/html" id="task_detail_template">
	<div class="dialog-width public_css">
		<p class="pull-left detail_css">
			任务详情
		</p>
		<a href="javascript:;" class="button gobackPage goBack">返回</a>
		<p class="showTaskState pull-right">{{menuState(data.state)}}</p>
		<div class="clearfix"></div>
		<hr /><br />
		<p>基本信息</p><br />
		<table class="taskTable">
			<tr>
				<th>任务号：</th>
				<td>{{data.taskNo}}</td>
				<th>任务类型：</th>
				<td>{{menuState(data.entrust)}}</td>
				<th>任务发起：</th>
				<td>{{data.upstreamName}}</td>
			</tr>
			<tr>
				<th>车牌号：</th>
				<td>{{data.carNumber}}</td>
				<th>车型：</th>
				<td>{{data.carBrand}}-{{data.carSeries}}-{{data.carModel}}</td>
				<th>颜色：</th>
				<td>{{data.carColor}}</td>
			</tr>
			<tr>
				<th>车辆识别号：</th>
				<td>{{data.carId}}</td>
				<th>车辆发动机号：</th>
				<td>{{data.engineId}}</td>
				<th>任务发布时间：</th>
				<td>{{data.createAt}}</td>
			</tr>
			<tr>
        <th>商务姓名：</th>
        <td>{{data.businessManager}}</td>
        <th>商务电话：</th>
        <td>{{data.businessManagerMobile}}</td>
        <th>&nbsp;&nbsp;</th>
        <td>&nbsp;&nbsp;</td>
      </tr>
		</table>
		<div class="remark">{{data.remark}}</div>
		<div class="imgRecord">
			<p>催收资料</p>
			{{each data.attachmentVoList data index}}
			<img src="{{viewImgRoot}}{{data.url}}" onerror="this.src='/src/img/nopic.png'" title="附件{{index+1}}" class="preview-img hand" /> {{/each}}
		</div>
		{{if data.state === "tracing"}}
		<div class="upmainfile">
			<div>
				<a href="javascript:;" class="button" id="taskList-illegalList" data-id="{{taskId}}">违章信息修复</a>
			</div>
			<div>
				<table class="pull-left">
					<thead>
						<th>序号</th>
						<th>车牌号</th>
						<th>内容</th>
						<th>修复地点</th>
						<th>修复城市</th>
						<th>信息修复时间</th>
					</thead>
					<tbody id="task_detail_wzInfoList"></tbody>
				</table>
				<div class="page-box pagination" id="page_container"></div>
			</div>
		</div>
		{{/if}} {{if data.state === "clueChecking"}}
		<div class="mainfile">
			<p>线索信息</p>
			{{if data.traceVoList&&data.traceVoList.length>0}}
			<a href="javascript:;" class="button rejectClue">全部不采纳</a>
			{{/if}} {{ each data.traceVoList data index }}
			<div class="mt25">
				<input type="radio" value="{{data.id}}" data-type="{{data.role}}" name="traceId" class="pull-left checkId" style="margin:80px 10px;cursor: pointer;" />
				<div class="pull-left" {{if data.type===0 }}style="width:90%;height:100%;border:1px solid #ccc;padding: 20px 10px;"  {{else}}style="width:74%;" {{/if}}>
					<div class="upimg pull-left" style="margin-top:0px;">
						<dl>
							<dt>
								<div class="upfile-item">
									<img data-id="{{data.carPhoto}}" src="{{viewImgRoot}}{{data.carPhoto}}" class="preview-img hand" onerror="this.src='/src/img/nopic.png'"/>
								</div>
			    			</dt>
							<dd>全车背景照</dd>
						</dl>
					</div>
					<div style="margin:1px 0;width: 84%;" class="pull-left">
						<table class="taskTable">
							<tr>
								<th>上传人员</th>
								<td>{{data.name}}----{{if data.role === 'type_A'}}线人{{/if}}{{if data.role === 'type_B'}}捕头----{{officerState(data.downstreamType)}}{{/if}}{{if data.role === 'type_C'}}自有线人{{/if}}</td>
								<th>联系电话</th>
								<td>{{data.phone}}</td>
							</tr>
							<tr>
								<th>GPS信息</th>
								<td colspan="3">{{data.location}}</td>
							</tr>
							<tr>
								<th>定位</th>
								<td colspan="3" id="{{data.carPhoto}}">{{getPositionByImage(data.carPhoto)}}</td>
							</tr>
							{{if data.role === 'type_A' || data.role === 'type_C'}}
							<tr>
								<th>GPS</th>
								<td {{if data.gpsSource !== 1}}colspan="3"{{/if}}  id="install">{{if typeof data.gpsSource ==='number' }}{{if data.gpsSource === 0}}自己安装{{/if}}{{if data.gpsSource === 1}}他人协助安装{{/if}}{{if data.gpsSource === 2}}未安装{{/if}}{{else}}未安装{{/if}}</td>
								 
								{{if data.gpsSource === 1}}
								<th>安装人员</th>
								<td>{{data.gpsPerson}}</td>
								{{/if}}
							</tr>
							{{/if}}
						</table>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			{{/each}}
		</div>
		{{/if}}
		{{if state === '1'}}
		<div class="upmainfile">
      <p style="margin:20px 0;">分配渠道</p>
      <div class="task-content">
  
      </div>
    </div>
    {{/if}}
		{{if data.state === "clueChecking"}}
		<input type="submit" value="保存" class="button adopteInfo" /> {{else}}
		<input type="submit" value="确定" class="button clueInfo" /> {{/if}}
	</div>
</script>

<script type="text/template" id="task_detail_wzInfoTemplate">
	{{each list item index}}
	<tr>
		<td>{{index+1}}</td>
		<td>{{item.carNumber}}</td>
		<td>{{item.desc}}</td>
		<td>{{item.site}}</td>
		<td>{{item.city}}</td>
		<td>{{item.occurAt}}</td>
	</tr>
	{{/each}}
</script>
<script type="text/template" id="xx_task_list">
  <div style="width:460px;">
    <table>
      <tr>
        <td>
          <form id="task_adopt_form">
            <div id="qd-distribution-tab0" class="divied-type" style="max-height: 300px;overflow-y: auto;text-align: left;">
              {{each data item index}}
              <div>
                <input type="radio" name="managerId" value="{{item.id}}" data-name="{{item.name}}" class="managerId" />
                <span>{{item.name}}</span>
                <span>
                {{each item.operatorProvinceVoList temp i}}
                     - {{temp.provinceName}},
                {{/each}}
                </span>
              </div>
              {{/each}}
            </div>
          </form>
        </td>
      </tr>
    </table>
  </div>
</script>
<script type="text/javascript">
	seajs.use('modules/xinxiyuan/task/task-list-detail', function(TaskListDetail) {
		var TaskListDetail = new TaskListDetail();
		TaskListDetail.init();
	});
</script>