<div class="dataContent">
  <div class="search-container">
    <form id="task-list-form">
      <table class="common_query textLeft search-content">
        <tbody>
          <tr>
            <td colspan="6">
              <ol id="taskState" class="stateChange pull-left">
                <li data-value="6" data-state="matched" class="taskState active">匹配成功</li>
                <li data-value="1" data-state="open" class="taskState">次要任务库</li>
                <li data-value="2" data-state="trcaing" class="taskState">优先任务库</li>
                <li data-value="3" data-state="finished" class="taskState">已完成</li>
                <li data-value="4" data-state="closed" class="taskState">已失效</li>
                <li data-value="7" data-state="newTask" class="taskState">未审核任务库</li>
                <input type="hidden" name="tabType" id="state" value="6">
              </ol>
            </td>
          </tr>
        </tbody>
        <tbody id="match-container"></tbody>
        <tbody>
          <tr id="batchOperater" class="successTask hide">
            <td colspan="6">
              <a class="button search-button allrepair" href="javascript:;">一键信息修复更新</a>
              <a class="button search-button distributeTask hide" href="javascript:;" id="batchDistribute">批量分配</a>
              <a class="button search-button closeMoreTask hide" href="javascript:;" id="closeTaskDistribute">批量关闭任务</a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="data-container">
    <table class="dataShow">
      <thead>
        <tr>
          <th width="4%">序号</th>
          <th width="2%">
            <input type="checkbox" id="checkAll" />
          </th>
          <th class="taskNumber" width="9%">任务号</th>
          <th width="6%">车牌号</th>
          <th width="6%">品牌</th>
          <th width="8%">车系</th>
          <th width="10%">债权方</th>
          <th class="textCon" width="10%">匹配成功时间</th>
          <th width="6%">任务状态</th>
          <th class="taskContain hide" width="8%">残值</th>
          <th class="taskContain hide" width="8%">任务类型</th>
          <th class="taskContain hide" width="10%">违章地区</th>
          <th class="taskContain hide" width="10%">违章时间</th>
          <th width="15%">操作</th>
        </tr>
      </thead>
      <tbody id="task_list_container">
      </tbody>
    </table>
    <div class="page-box pagination" id="page_container"></div>
  </div>
</div>
<script type="text/template" id="taskList_content_template">
  {{ each list item index }}
  <tr class="trData">
    <td>{{index+1}}</td>
    <td>
      <input type="checkbox" value="{{item.id}}" data-id="{{item.id}}" name="taskIds" />
    </td>
    {{if passState !='1' && passState !='2'}}
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.taskNo}}</td>
    {{/if}}
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.carNumber}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.carBrand}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.carSeries}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.upstreamName}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{if passState === '6'}}{{item.matchAt}}{{else}}{{item.createAt}}{{/if}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{menuState(item.state)}}</td>
    {{if passState == '1' || passState == '2'}}
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.carPrice}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{menuState(item.entrust)}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.city}}</td>
    <td {{if passState=='1' }}class="showTr" {{/if}} data-info="{{item}}">{{item.occurAt}}</td>
    {{/if}}
    <td>
      <a data-id="{{item.id}}" class="taskList-detail button">详情</a>
      {{if passState =='1' || passState =='2' }}
      <a data-id="{{item.id}}" class="closeTask oneStyle button">关闭任务</a>
      {{/if}}
    </td>
  </tr>
  {{/each}}
</script>
<script type="text/template" id="searchIllegalInfo-template">
  <div>
    <table>
      <thead>
        <th>序号</th>
        <th>信息描述</th>
        <th>违章地点</th>
        <th>违章城市</th>
        <th>发生时间</th>
      </thead>
      <tbody id="search-illegalList-container">
        {{each list item index}}
        <tr>
          <td>{{index+1}}</td>
          <td>{{item.desc}}</td>
          <td>{{item.site}}</td>
          <td>{{item.city}}</td>
          <td>{{item.occurAt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>
<!-- 匹配成功筛选 -->
<script type="text/template" id="matchSuccess-template">
  <tr class="new-style">
    <td>
      <label class="label">任务号：</label>
      <input type="text" class="search-input" name="taskNo">
    </td>
    <td>
      <label class="label">车牌号：</label>
      <input type="text" class="search-input" name="carNumber" maxlength="7">
    </td>
    <td class="taskLocation">
      <label class="label">任务所在位置</label>
      <select name="isArrange">
        <option value="">全部</option>
        <option value="0">次要任务库</option>
        <option value="1">优先任务库</option>
      </select>
    </td>
    <td>
      <input type="submit" value="查询" class="button search-button">
    </td>
  </tr>
</script>
<!-- 未审核筛选 -->
<script type="text/template" id="unAudit-template">
<tr class="new-style">
  <td class="newTaskTd">
    <label class="label">债权方：</label>
    <input type="text" class="search-input" name="companyName">
  </td>
  <td>
    <label class="label">车牌号：</label>
    <input type="text" class="search-input" name="carNumber" maxlength="7">
  </td>
  <td>
    <input type="submit" value="查询" class="button search-button">
  </td>
</tr>
</script>
<!-- 其他筛选 -->
<script type="text/template" id="otherMatch-template">
  <tr class="new-style">
    <td>
      <label class="label">车&nbsp;牌&nbsp;号&nbsp;：</label>
      <input type="text" class="search-input" name="carNumber">
    </td>
    <td>
      <label class="label">违章地区：</label>
      <input type="text" class="search-input" name="city">
    </td>
    <td>
      <label class="label">残&nbsp;&nbsp;&nbsp;值：</label>
      <input type="text" class="search-input OnlyPrice begin-input" id="minprice" name="minprice"> 至
      <input type="text" class="search-input OnlyPrice public_price end-input" id="maxprice" name="maxprice">
    </td>
    <td>
      <label class="label">发布时间：</label>
      <input type="text" class="search-input hand begin-input" readonly="readonly" name="beginTime" id="beginTime" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')}',dateFmt:'yyyy-MM-dd',isShowClear:true})"> 至
      <input type="text" class="search-input hand end-input" readonly="readonly" name="endTime" id="endTime" onclick="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')}',dateFmt:'yyyy-MM-dd',isShowClear:true})">
    </td>
    <td style="text-align: center;">
      <input type="submit" value="查询" class="button search-button">
    </td>
  </tr>
  <tr class="successTask new-style">
    <td>
      <label class="label">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌&nbsp;：</label>
      <input type="text" class="search-input" name="carBrand">
    </td>
    <td class="successTask">
      <label class="label">任务类型：</label>
      <select name="entrust">
        <option value="">全部</option>
        <option value="all">无需定位需找+拖</option>
        <option value="trace">无定位只需找车</option>
        <option value="recycle">有定位只需拖车</option>
      </select>
    </td>
    <td class="successTask">
      <label class="label">任务状态：</label>
      <select name="state" id="selectCheck">
        <option value="">全部</option>
      </select>
    </td>
    <td>
      <label class="label">车辆归属地：</label>
      <select name="location">
        <option value="">全部</option>
        {{each locationArr item index}}
        <option value="{{item}}">{{item}}</option>
        {{/each}}
      </select>
    </td>
    <td></td>
  </tr>
</script>
<script type="text/javascript">
seajs.use('modules/xinxiyuan/task/task-list', function(TaskList) {
  var taskList = new TaskList();
  taskList.init();
});
</script>