<div class="dataContent">
	<div class="search-container">
        <form id="user-manage-form">
            <table class="common_query textLeft search-content">
                <tr class="new-style">
                    <td>
                        <label class="label">用户名</label>
                        <input type="text" class="search-input" name="username">
                    </td>
                    <td>
                        <label class="label">角色</label>
                        <select name="type">
                            <option value="">全部</option>
                            <option value="super">管理员</option>
                            <option value="business">商务经理</option>
                            <option value="businessmanager">商务总监</option>
                            <option value="info">信息员</option>
                            <option value="infoauditor">信息审核员</option>
                            <option value="channel">渠道经理</option>
                            <option value="finance">财务</option>
                            <option value="logistic">物流公司</option>
                            <option value="onlineoper">线上运营</option>
                            <option value="traceauditor">线索审核员</option>
                            <option value="boss">领导</option>
                            <option value="executor">执行人</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="查询" class="button search-button">
                    </td>
                </tr>
                <tr>
                	<td>
                		<input type="button" class="button style-btn addUser" value="添加用户">
                	</td>
                </tr>
            </table>
        </form>
    </div>
    <div class="data-container">
        <table class="dataShow dataAudit">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">用户名</th>
                    <th width="8%">真实姓名</th>
                    <th width="10%">电话</th>
                    <th width="8%">角色</th>
                    <th width="6%">状态</th>
                    <th width="15%">创建时间</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody id="user_manage_container">
            </tbody>
        </table>
        <div class="page-box pagination" id="page_container"></div>
    </div>
</div>

<script type="text/template" id="userManage_content_template">
    {{ each list item index }}
    <tr class="trData">
        <td>{{index+1}}</td>
        <td>{{item.username}}</td>
        <td>{{item.name}}</td>
        <td>{{item.mobile}}</td>
        <td>{{item.roleName}}</td>
        <td>{{if item.status == 0}} 关闭  {{else}} 开启  {{/if}}</td>
        <td>{{item.createAt}}</td>
        <td>
            <a data-infos="{{item}}" data-id="{{item.id}}" class="edit-user button">编辑</a>
        </td>
    </tr>
    {{/each}}
</script>
<script type="text/template" id="edit_usermanage_template">
	<div class="user-width">
        <p class="pull-left">
            用户详情
        </p>
        <div class="clearfix"></div>
        <hr /><br />
        <div class="btn-father" style="overflow: hidden;margin-right:22px;">
        	<p class="pull-right btn-status {{if data.status === 1}}openStatus{{else}}closeStatus{{/if}}" data-id="{{data.id}}"></p>
        </div>
        <form id="edit-user-form">
	        <ul>
	        	<li>
	        		<label>用户名称</label>
	        		<input type="text" name="username" id="" value="{{data.username}}" />
	        	</li>
	        	<li>
	        		<label>真实姓名</label>
	        		<input type="text" name="name" value="{{data.name}}" />
	        	</li>
	        	<li>
	        		<label>电话</label>
	        		<input type="text" name="mobile" class="isMobile" maxlength="11" value="{{data.mobile}}" />
	        	</li>
	        	<li>
	        		<label>微信</label>
	        		<input type="text" name="wechat" id="" value="{{data.wechat}}" />
	        	</li>
	        	<li style="width:100%;">
	        		<label>邮箱</label>
	        		<input type="text" name="email" class="isEmail" value="{{data.email}}" style="width: 95%;" />
	        	</li>
	        </ul>
	        {{if data.type === "channel"}}
	        <table>
		    	<tr>
		    		<td>
		    			<p class="pull-left">地区</p>
		    			
		    			<div class="clearfix"></div>
		    			<hr />
		    			<div class="area-list" style="height:240px;overflow-y: auto;">
		    				{{each list item index}}
		    				<div style="overflow: hidden;">
		    					<input type="checkbox" name="operatorProvinceDtoList" id="editArea{{index}}" value="{{item.provinceCode}}-{{item.provinceName}}" style="float:left;margin-top:4px;" />
		    					<span style="float:left;">{{item.provinceName}}</span>
		    				</div>
		    				{{/each}}
		    			</div>
		    		</td>
		    	</tr>
		    </table>
		    {{/if}}
	    </form>
    </div>
</script>
<script type="text/template" id="new-increate-template">
	<form id="newincreate-form">
		<div class="new-increate">
			<label>新建</label>
			<select name="type" id="select-person">
          <option value="super">管理员</option>
	        <option value="business">商务经理</option>
	        <option value="businessmanager">商务总监</option>
	        <option value="info">信息员</option>
	        <option value="infoauditor">信息审核员</option>
	        <option value="channel">渠道经理</option>
	        <option value="finance">财务</option>
          <option value="logistic">物流公司</option>
          <option value="onlineoper">线上运营</option>
          <option value="traceauditor">线索审核员</option>
          <option value="boss">领导</option>
          <option value="executor">执行人</option>
	    </select>
		</div>
		<div class="next-content">
			<div>
				<label>用户名称</label>
				<input type="text" name="username" id="usernameTxt" class="required" style="width:200px;height:30px;border:1px solid #ccc;" />
			</div>
			<div>
				<label>真实姓名</label>
				<input type="text" name="name" id="nameTxt" class="required" style="width:200px;height:30px;border:1px solid #ccc;" />
			</div>
			<div class="address-select">
			    <table>
			    	<tr>
			    		<td>
			    			<p class="pull-left">地区</p>
			    			
			    			<div class="clearfix"></div>
			    			<hr />
			    			<div class="area-list" style="height:240px;overflow-y: auto;">
			    				{{each list item index}}
			    				<div style="overflow: hidden;">
			    					<input type="checkbox" name="operatorProvinceDtoList" id="checkArea{{index}}" value="{{item.provinceCode}}-{{item.provinceName}}" style="float:left;margin-top:4px;" />
			    					<span style="float:left;">{{item.provinceName}}</span>
			    				</div>
			    				{{/each}}
			    			</div>
			    		</td>
			    	</tr>
			    </table>
			</div>
		</div>
	</form>
</script>
<script type="text/javascript">
seajs.use('modules/user/user-manage', function(UserManage) {
    var UserManage = new UserManage();
    UserManage.init();
});
</script>