.sidebar-menu li.active {
	background-color: #5a707d;
}

.search-container .submit {
	padding: 10px 40px;
}

.pagination select, .pagination .select2-container {
	margin: 0;
	width: 80px;
	text-align: left;
}
