.areaInfo span {
    width: 450px;
    text-align: left;
}

.noTable div label {
    font-weight: 900;
    display: inline-block;
    width: 70px;
}

.noTable table {
    margin: 10px 0;
}

.noTable table th {
    border: 1px solid #dedede;
    width: 214px;
}

.noTable table td {
    text-align: left !important;
}

.dialog-width>div {
    width: 100%;
    margin: 20px 0;
}

.dialog-width div p {
    margin: 10px 0;
}

.imgRecord img {
    width: 100px;
    height: 100px;
}


/*个人中心*/

.personContent .center-site {
    width: 900px;
    margin: 4px 0 0 96px;
}

.personContent .center-site ul {
    overflow: hidden;
}

.personContent .center-site ul.person-option {
    margin: 80px 0 22px 0;
}

.personContent .center-site ul li {
    width: 48%;
    float: left;
    border: 1px solid #cecece;
}

.personContent .center-site ul.person-option li {
    width: 14%;
    border-radius: 6px;
    margin-right: 20px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.personContent .center-site ul.person-option li.changePassword {
    background: #206aa0;
}

.personContent .center-site ul.person-option li.editFile {
    background: #15a735;
}

.personContent .center-site ul.person-option li span {
    color: #fff;
}

.personContent .center-site ul.username-ul {
    margin-bottom: 30px;
}

.personContent .center-site ul li label {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #cecece;
    background-color: aliceblue;
}

.personContent ul li textarea {
    width: 370px;
    height: 30px;
    resize: none;
    margin-left: 70px;
}

.textReason {
    width: 300px;
    height: 50px;
    resize: none;
}

.personContent ul li input[type="text"],
.personContent ul li select {
    width: 302px;
}

.personContent ul li select.useraddress {
    width: 100px;
}

.change-width p {
    width: 660px;
    font-weight: 900;
}

.change-width .changeForm .inputGroup {
    margin: 10px 0;
}

.change-width .changeForm .inputGroup label {
    width: 100px;
    display: inline-block;
}

.change-width .changeForm .inputGroup input {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
}

.officer-width form table input {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
}

.bgc_blue {
    background-color: #fff5f6;
}

.imgWidth img {
    width: 50px;
    height: 50px;
}

.changePaystyle {
    display: none;
}

#payStyle {
    display: table-row;
}


/*用户管理*/

.user-width {
    width: 600px;
}

.user-width ul {}

.user-width ul li {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.user-width ul li label {
    display: block;
    width: 100px;
}

.user-width ul li input {
    border: 1px solid #ccc;
    height: 40px;
}

.icons {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.icons.icons-edit {
    background: url(../img/edit.png) no-repeat center;
    background-size: cover;
}

.icons.icons-username {
    background: url(../img/changepwd.png) no-repeat center;
    background-size: cover;
}
.icontis {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 5px;
  vertical-align: middle;
}
.icontis.icon-business {
  background: url(../img/business.png) no-repeat center;
  background-size: cover;
}
.icontis.icon-task {
  background: url(../img/task.png) no-repeat center;
  background-size: cover;
}
.icontis.icon-channel {
  background: url(../img/channel.png) no-repeat center;
  background-size: cover;
}
.icontis.icon-clues {
  background: url(../img/clues.png) no-repeat center;
  background-size: cover;
}
.icontis.icon-hunter {
  background: url(../img/hunter.png) no-repeat center;
  background-size: cover;
}
.icontis.icon-informer {
  background: url(../img/informer.png) no-repeat center;
  background-size: cover;
}
.icontis.icon-radar {
  background: url(../img/radar.png) no-repeat center;
  background-size: cover;
}

/*任务详情*/

.public_css table.taskTable th {
    font-weight: 900;
    text-align: right;
    border: 1px solid #ffffff;
    width: 98px;
}

.public_css table.taskTable td {
    border: 1px solid #eef1f6;
    text-align: left;
}


/*面包屑导航*/

.side-content {
    margin: 70px 20px 0;
    display: block
}

.content-header {
    height: 60px;
    line-height: 64px;
    border-bottom: 1px solid #eee;
}

.content-header span {
    color: #666;
    font-weight: 600;
}

#toggleMenu {
    position: fixed;
    top: 300px;
    left: 250px;
    z-index: 999999;
}

#plat-sure-money table tr td input {
    border: 1px solid #eee;
    height: 28px;
}


/*新增*/

.admin-addNews,
.admin-addPoster,
.admin-removePoster {
    /*border:1px solid #3fa1f4;
    color:#3fa1f4;
    padding:10px;
    border-radius: 3px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;*/
}


/*新增公告*/

.addnews div {
    margin-bottom: 20px;
}

.addnews input {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    margin-left: 10px;
    border-radius: 3px;
}


/*状态开启/关闭*/

p.btn-status {
    width: 48px;
    height: 40px;
}

p.openStatus {
    background: url(../img/index/open.png) no-repeat center;
    background-size: 20px 20px;
}

p.closeStatus {
    background: url(../img/index/close.png) no-repeat center;
    background-size: 20px 20px;
}


/*新建*/

.next-content {
    display: none;
}

.next-content div {
    margin: 10px;
}

.address-select {
    display: none;
}

#newincreate-form div label {
    display: inline-block;
    width: 58px;
}

.grey {
    background: #f7f7f7;
}


/*业务统计*/
.dataContent .data-container .clue-left-layout {
  width:60%;
  
}
.dataContent .data-container .clue-right-layout {
  width:35%;
}
.dataContent .data-container ul#clue-echarts-list {
  width:100%;
  height:126px;
  margin-top: 10px;
}
.dataContent .data-container ul#clue-echarts-list li {
  height:86px;
  width: 27.3%;
  float: left;
  background: #fff;
  margin-top: 20px;
  padding: 10px 2%;
  box-shadow: 0px -3px 18px -2px #b5b5b5;
}
.dataContent .data-container ul#clue-echarts-list li:nth-child(2) {
  margin-left: 3%;
  margin-right: 3%;
}

.total_task_statistic {
  display: inline-block;
  width:4px;
  height:12px;
  margin-right:4px;
}
.day_number {
  background:greenyellow;
}
.month_number {
  background:red;
}
.total_monthNum {
  display: inline-block;
  width:12px;
  height:12px;
  margin-left:4px;
}
.month_upnumber {
  background: url(../img/upjian.png) no-repeat center;
  background-size: cover;
}
.month_downnumber {
  background: url(../img/downjian.png) no-repeat center;
  background-size: cover;
}
.dataContent .data-container ul.echarts-list li p {
    margin-top: 10px;
}

.dataContent .data-container ul.echarts-list li p.font-style {
    font-size: 26px;
    font-weight: 900;
}

.dataContent .data-container ul.echarts-list li p.title-style {
    overflow: hidden;
}
.findWorld {
  margin-left:30%;
}
.dataContent .data-container ul.echarts-list li p.title-style span {
    float: left;
}

.dataContent .data-container ul.echarts-list li p.title-style i {
    float: right;
}

.dataContent .data-container .information,
.dataContent .data-container .channelPie {
    width: 96%;
    /*height: 450px;*/
    margin: 30px 0;
    padding: 15px 15px 44px;
    box-shadow: 0px -3px 18px -2px #b5b5b5;
}
.dataContent .data-container .channelPie {
  height: 220px;
}

.dataContent .data-container .information p.title-style {
    padding: 5px;
    height: 40px;
    text-indent: -4px;
    border-bottom: 1px solid #ccc;
}

.dataContent .data-container .information p.title-style span.span-style {
    color: #3398DB;
    font-size: 18px;
    padding: 20px;
    border-bottom: 4px solid #3398DB;
}

.dataContent .data-container .clue-right-layout div.informateTable {
    width: 100%;
    /*height: 300px;*/
    background: #fff;
    margin: 30px 2% 0 0;
    padding: 10px 2% 44px;
    box-shadow: 0px -3px 18px -2px #b5b5b5;
}

.dataContent .data-container .clue-right-layout div.informateTable p {
    font-weight: 900;
    margin: 10px 0;
}

.dataContent .data-container .information div.informateTable ul li {
    width: 100%;
    height: 30px;
}

.dataContent .data-container .information div.informateTable ul li span {
    display: inline-block;
    width: 26%;
}

.dataContent .data-container .channelPie div.floatList div {
    float: left;
}

.dataContent .data-container .channelPie div.floatList div.publicBtn {
    width: 32px;
    height: 164px;
    text-align: center;
    line-height: 164px;
    background: #F9F9F9;
    z-index:9;
}

.dataContent .data-container .channelPie div.floatList div.nextBtn {
    border: 1px solid #e6e3e3;
    float: right;
}

.dataContent .data-container .channelPie div.floatList div.preBtn {
    border: 1px solid #e6e3e3;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo {
    width: 88%;
    height: 144px;
    overflow: hidden;
    padding: 10px 20px;
    position:relative;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo .channelInner {
	position:absolute;
	left:20px;
	top:10px;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo dl {
    height: 136px;
    width: 240px;
    float: left;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo dl dd {
    float: left;
    width: 80px;
    text-align: center;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo dl dd p:first-child {
    font-size: 16px;
    font-weight: 900;
    width: 78px;
    height: 58px;
    overflow: hidden;
    line-height: 58px;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo dl dd p:nth-child(2) {
    line-height: 48px;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo dl dd p:last-child {
    font-size: 24px;
    font-weight: 900;
}

.dataContent .data-container .channelPie div.floatList div.channelInfo dl dt {
    float: left;
}

.mainfile .upimg .failRecord span {
    margin-left: 20px;
}

.icon-img {
    width: 24px;
    height: 24px;
    background: url(../img/icon/icon-img.png) no-repeat center;
    background-size: cover;
}

.startTime,
.endTime {
    height: 25px;
    padding-left: 2px;
    display: inline-block;
}
.colorbg input {
	border:1px solid #eee;
}

.dataContent .search-container .new-style {
	border:1px solid #eef1f6;
	background:#fafafa;
}
.dataContent .search-container .new-style td input[type="submit"] {
	width:100px;
	background:#ff8812;
	color:#fff;
	border:1px solid #ff8812;
}
.dataContent .search-container .new-style td input[type="submit"]:hover {
	background:#f5810d;
}
.style-btn {
	border:1px solid #aaa !important;
	border-radius: 0 !important;
	color: #515151 !important;
	background:#fff !important;
}
.style-btn:hover {
	background: #fafafa !important;
	color:#515151 !important;
}
.oneStyle {
	border:1px solid #eb4d41 !important;
	background: #eb4d41 !important;
}
.oneStyle:hover {
	background: #d73d33 !important;
}
.dataContent .search-container .stateChange {
	width: 100%;
	border-bottom:1px solid #68C8F8;
	margin-bottom: 20px;
}

a.switch-btn {
	float:right;
}
a.switch-btn span {
	float:left;
}
a.switch-btn span i {
	float:left;
	margin-left:6px;
	line-height: 24px;
}
span.operatorTaskOpen, span.operatorTaskClose {
    width: 48px;
    height: 20px;
}

.operatorTaskOpen {
    background: url(../img/index/open.png) no-repeat center;
    background-size: 20px 20px;
}

.operatorTaskClose {
    background: url(../img/index/close.png) no-repeat center;
    background-size: 20px 20px;
}
i.icon-issue {
	width:24px;
	height:24px;
	background: url(../img/index/icon-issue.png) no-repeat center;
    background-size: cover;
}

.activity-content {
	width:580px;
	background:#FAFAFA;
	text-align: center;
	line-height: 30px;
	padding:12px 0;
	border:1px solid #ccc;
	position:absolute;
	right:200px;
	top:190px;
	display: none;
	z-index: 10;
}
.isOpen-content {
	width:250px;
	height:120px;
	background:#fff;
	text-align: center;
	line-height: 39px;
	border:1px solid #ccc;
	position:absolute;
	right:0;
	top:220px;
	z-index: 10;
	display:none;
}
.isOpen-content span {
	position:absolute;
	right:5px;
	top: -8px;
	cursor: pointer;
}

form#new-increate-award-form table input, form#increate-creditor-award-form table input {
	border:1px solid #ccc;
	height:30px;
}
.bgc_grey {
	background: #ddd;
}
.upload-erweima div {
    text-align: center;
    line-height: 30px;
    width:100%;
    height:30px;
    border:1px solid #ccc;
    margin-top: 20px;
}
/*业务统计*/
.statistic-list ul {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}
.statistic-list ul li {
  float: left;
  width: 29%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin: 0 30px 20px 0;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 900;
}
.statistic-list ul li span {
  color:#fff;  
}
.statistic-list ul li.taskInfoOne {
  background-color: #b5b8ff;
}
.statistic-list ul li.taskInfoTwo {
  background-color: #ffafba;
}
.statistic-list ul li.taskInfoThree {
  background-color: #ffc5b5;
}
.statistic-list ul li.taskInfoFour {
  background-color: #bde49e;
}
.statistic-list ul li.taskInfoFive {
  background-color: #a4e4e9;
}
.statistic-list ul li.taskInfoSix {
  background-color: #e3b5ff;
}
.statistic-list ul li.taskInfoSeven {
  background-color: #ffebb5;
}
.informer_hunter {
  width:30%;
  text-align: center;
}
.informer_hunter i.infoHun_sum {
  color:#f00;
  font-size:18px;
}
.hunter_name {
  margin-left:150px;
}

ul.position_info{
  margin: 5px 0;
  line-height: 150%;
}
ul.position_info li{
  border-bottom: 1px solid #eee;
  padding:6px 0;
}
ul.position_info li span:first-child{
  color:#999;
}
.area_color {
  width:70px;
  height:76px;
  background: url(../img/blue.png) no-repeat center;
  background-size:cover;
  text-align: center;
}
.area_color p {
  color:#fff;
  font-size:14px;
}
.area_color p span{
  color:#fff;
}
.area_img {
  width:70px;
  height:84px;
}
.task_car_img {
  background: url(../img/taskCar.png) no-repeat center;
  background-size:100% 100%;
}
.yellow_car_img {
  background: url(../img/yellow.png) no-repeat center;
  background-size:100% 100%;
}
.hunters_img {
  background: url(../img/hunter_img.png) no-repeat center;
  background-size:100% 100%;
}
.informers_img {
  background: url(../img/informer_img.png) no-repeat center;
  background-size:100% 100%;
}
.workers_img {
  background: url(../img/worker.png) no-repeat center;
  background-size:100% 100%;
}
