<div class="dataContent">
    <div class="search-container">
        <form id="task-flow-form">
            <table class="common_query textLeft search-content">
                <tr class="new-style">
                    <td>
                      <label class="label">车牌号：</label>
                      <input type="text" class="search-input" name="carNumber" maxlength="7">
                    </td>
                    <td>
                      <label class="label">债权方名称：</label>
                      <input type="text" class="search-input" name="companyName">
                    </td>
                    <td>
                        <label class="label">流程状态：</label>
                        <select name="state">
                          <option value="">全部</option>
                          <option value="cluesifte">违章初筛</option>
                          <option value="repairinfo">信息修复</option>
                          <option value="scene">现场查找</option>
                          <option value="lock">任务锁定</option>
                          <option value="allocation">执行分配</option>
                          <option value="execution">执行完成</option>
                          <option value="transport">交付车辆</option>
                          <option value="deliver">全部</option>
                          <option value="complete">确认完成</option>
                        </select>
                    </td>
                    <td>
                      <label class="label">时间：</label>
                      <input type="text" class="search-input hand begin-input" readonly="readonly" name="beginTime" id="beginTime" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')}',dateFmt:'yyyy-MM-dd',isShowClear:true})"> 至
                      <input type="text" class="search-input hand end-input" readonly="readonly" name="endTime" id="endTime" onclick="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')}',dateFmt:'yyyy-MM-dd',isShowClear:true})">
                    </td>
                    <td>
                      <input type="submit" value="查询" class="button search-button">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="data-container">
        <table class="dataShow">
            <thead>
                <tr>
                    <th width="15%">录入时间</th>
                    <th width="10%">车牌号</th>
                    <th width="10%">债权方名称</th>
                    <th width="10%">车型</th>
                    <th width="10%">流程完成度</th>
                    <th width="10%">当前负责人</th>
                    <th width="12%">当前流转时间</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody id="task_flow_container">
                
            </tbody>
        </table>
        <div class="page-box pagination" id="page_container"></div>
    </div>
</div>

<script type="text/template" id="task-flow-template">
    {{ each list item index }}
    <tr>
        <td>{{item.createAt}}</td>
        <td>{{item.carNumber}}</td>
        <td>{{item.upstreamName}}</td>
        <td>{{item.carBrand}}</td>
        <td><p class="percentImg {{if item.state === 'cluesifte'}}percentOne{{/if}}{{if item.state === 'repairinfo'}}percentTwo{{/if}}{{if item.state === 'scene'}}percentThree{{/if}}{{if item.state === 'lock'}}percentFour{{/if}}{{if item.state === 'allocation'}}percentFive{{/if}}{{if item.state === 'execution'}}percentSix{{/if}}{{if item.state === 'transport'}}percentSeven{{/if}}{{if item.state === 'deliver'}}percentEight{{/if}}{{if item.state === 'complete'}}percentNine{{/if}}"><span>{{menuState(item.state)}}</span></p></td>
        <td>{{item.currentCharger}}</td>
        <td>{{switchTime(item.currentStartAt)}}</td>
        <td>
            <a data-id="{{item.id}}" class="task-flow-detail button">查看流程</a>
        </td>
    </tr>
    {{/each}}
</script>

<script type="text/javascript">
seajs.use('modules/taskFlow/task-flow', function(TaskFlow) {
    var TaskFlow = new TaskFlow();
    TaskFlow.init();
});
</script>