<div class="dataContent">
	<div class="search-container">
        <div class="pull-left mt25">
            <a href="javascript:;" class="button style-btn poster_addBanner">+ 新增活动海报</a>
            <a href="javascript:;" class="button style-btn poster_removeBanner">- 删除活动海报</a>
        </div>
	</div>
	<div class="data-container">
		<table class="dataShow">
			<thead>
				<tr>
					<th width="5%">序号</th>
					<th width="5%"><input type="checkbox" id="checkAll"/></th>
					<th width="10%">图片</th>
					<th width="20%">对应链接</th>
					<th width="20%">活动海报标题</th>
					<th width="5%">序号</th>
					<th width="5%">应用位置</th>
					<th width="15%">发布时间</th>
					<th width="15%">操作</th>
				</tr>
			</thead>
			<tbody id="poster_manage_container">

			</tbody>
		</table>
		<div class="page-box pagination" id="page_container"></div>
	</div>
</div>

<script type="text/template" id="poster-manage-template">
	{{ each list item index }}
	<tr>
		<td>{{index+1}}</td>
		<td>
            <input type="checkbox" data-id="{{item.id}}"/>
        </td>
		<td class="imgWidth">
			<img src="{{viewImgRoot}}{{item.url}}?imageMogr2/auto-orient/thumbnail/100x100" class="preview-img hand"/>
		</td>
		<td>{{item.redirect}}</td>
		<td>{{item.title}}</td>
		<td>{{item.order}}</td>
		<td>{{stateToString(item.type)}}</td>
		<td>{{item.createAt}}</td>
		<td>
			<a data-id="{{item.id}}" class="removeEdit button">删除</a>
		</td>
	</tr>
	{{/each}}
</script>

<script type="text/template" id="poster_manage_addBannerTemplate">
	<form id="poster_manage_addBannerForm">
		<p>预览图片</p>
		<div class="img-preview-content upload-list">
			{{if showImgUrl}}
			<img src="{{showImgUrl}}" class="preview-img" width="608" height="304">
			{{/if}}
		</div>
		<p>*上传尺寸608*304格式有jpg或PNG的图片</p>
		<div class="ordinary">
			<div id="url">上传图片</div>
			<input type="hidden" name="url" id="bannerImageUrl" value="{{url}}">
		</div>
		<div class="mt25">
			<label>对应链接地址</label>
			<input type="text" name="redirect" class="url" value="{{redirect}}" placeholder="例：http://www.chebutou.com.cn">
		</div>
		<div class="mt10">
			<label>活动海报标题</label>
			<input type="text" name="title" class="required" maxlength="50" value="{{title}}" placeholder="请输入标题">
		</div>
		<div class="mt10">
			<label>海报排列序号</label>
			<input type="text" name="order" class="required number" maxlength="3" value="{{order}}" placeholder="请输入序号">
		</div>
		<div class="mt25">
      <label>海报应用位置</label>
      <select name="type">
        <option value="1" {{if type==1}}selected{{/if}}>移动端</option>
        <option value="2" {{if type==2}}selected{{/if}}>官网</option>
        <option value="3" {{if type==3}}selected{{/if}}>债权方端</option>
      </select>
    </div>
	</form>
</script>

<script type="text/javascript">
	seajs.use('modules/poster/poster-manage', function(PosterManage) {
		var PosterManage = new PosterManage();
		PosterManage.init();
	});
</script>
