<div class="dataContent">
    <div class="data-container" id="admin-qdTrailerDetail-container"></div>
</div>
<script type="text/template" id="admin-qdTrailerDetail-template">
    <div class="dialog-width public_css">
        <p class="pull-left detail_css">
            任务详情
        </p>
        <a href="javascript:;" class="button gobackPage goBack">返回</a>
        <p class="showTaskState pull-right">{{menuState(data.state)}}</p>
        <div class="clearfix"></div>
        <hr /><br />
        <p>基本信息</p><br />
        
        <table class="taskTable">
        	<tr> 
            <th>任务号：</th>
            <td>{{data.taskNo}}</td>
            <th>任务类型：</th>
            <td>{{menuState(data.entrust)}}</td>
            <th>任务发起：</th>
            <td>{{data.upstreamName}}</td>
          </tr>
          <tr>
            <th>车主姓名：</th>
            <td>{{data.debtor}}</td>
            <th>车牌号：</th>
            <td>{{data.carNumber}}</td>
            <th>车型：</th>
            <td>{{data.carBrand}}-{{data.carSeries}}-{{data.carModel}}</td>
          </tr>
          <tr>
            <th>颜色：</th>
            <td>{{data.carColor}}</td>
            <th>车辆识别号：</th>
            <td>{{data.carId}}</td>
            <th>车辆发动机号：</th>
            <td>{{data.engineId}}</td>
          </tr>
          <tr>
            <th>任务发布时间：</th>
            <td>{{data.createAt}}</td>
            <th>商务姓名：</th>
            <td>{{data.businessManager}}</td>
            <th>渠道经理：</th>
            <td>{{data.channelManager}}</td>
          </tr>
        </table>
        <div>
          <p>备注信息</p>
          <div class="remark">备注信息：{{data.remark}}</div>
        </div>
        {{if data.state === 'unconfirmed' || data.state === 'voucherChecking' || data.state === 'hunterUnreceive' || data.state === 'hunterReceive' || data.state === 'platReceive' || data.state === 'upstreamReceive' || data.state === 'closed'}}
        <p>处置费用</p>
        <table class="taskTable">
          <tr> 
            <th>最终处置费用：</th>
            <td>{{data.finalPrice}}</td>
            <th>其中受托人费用：</th>
            <td>{{data.baileePrice}}</td>
          </tr>
          <tr>
            <th>资产查找费：</th>
            <td>{{data.assetPrice}}</td>
            <th>第三方处置清收费：</th>
            <td>{{data.thirdpartyPrice}}</td>
          </tr>
        </table>
        {{/if}}
        <div class="imgRecord">
          <p>催收记录</p>
          {{each data.attachmentVoList item index}}
          <img src="{{viewImgRoot}}{{item.url}}?imageMogr2/auto-orient/thumbnail/100x100" alt="图片" onerror="this.src='/src/img/nopic.png'" class="preview-img hand"/>
          {{/each}}
        </div>
        <div class="mainfile">
            <p>线索信息</p>
            {{each data.traceVoList data index}}
            <div class="upimg pull-left">
                <dl>
                    <dt>
                        <div class="upfile-item">
                            <img class="preview-img hand" src="{{viewImgRoot}}{{data.carPhoto}}?imageMogr2/auto-orient/thumbnail/100x100" onerror="this.src='/src/img/nopic.png'"/>
                        </div>
                    </dt>
                    <dd>全车背景照</dd>
                </dl>
            </div>
            <div style="margin:1px 0;width: 84%;" class="pull-left">
              <table class="taskTable">
                <tr>
                  <th>上传人员</th>
                  <td>{{data.name}}----{{if data.role === 'type_A'}}兼职线人{{/if}}{{if data.role === 'type_B'}}捕头----{{officerState(data.downstreamType)}}{{/if}}{{if data.role === 'type_C'}}自有线人{{/if}}</td>
                  <th>联系电话</th>
                  <td>{{data.phone}}</td>
                </tr>
                <tr>
                  <th>上传时间</th>
                  <td>{{data.clueUploadAt}}</td>
                  <th>车架号后六位</th>
                  <td>{{data.carId}}</td>
                </tr>
                <tr>
                  <th>GPS信息</th>
                  <td colspan="3">{{data.location}}</td>
                </tr>
                <tr>
                  <th>定位</th>
                  <td colspan="3" id="{{data.carPhoto}}">{{getPositionByImage(data.carPhoto)}}</td>
                </tr>
                {{if data.role === 'type_A' || data.role === 'type_C'}}
                <tr>
                  <th>GPS</th>
                  <td {{if data.gpsSource !== 1}}colspan="3"{{/if}}  id="install">{{if typeof data.gpsSource ==='number' }}{{if data.gpsSource === 0}}自己安装{{/if}}{{if data.gpsSource === 1}}他人协助安装{{/if}}{{if data.gpsSource === 2}}未安装{{/if}}{{else}}未安装{{/if}}</td>
  
                  {{if data.gpsSource === 1}}
                  <th>安装人员</th>
                  <td>{{data.gpsPerson}}</td>
                  {{/if}}
                </tr>
                {{/if}}
              </table>
            </div>
            {{/each}}
        </div>
        <div id="fpSheriffList"></div>     
        <a href="javascript:;" class="button sureAudit">确定</a>
    </div>
</script>

<script type="text/javascript">
seajs.use('modules/qudao/qd-trailer/qd-trailer-detail', function(QDTailerDetail) {
    var qDTailerDetail = new QDTailerDetail();
    qDTailerDetail.init();
});
</script>