<div class="clueManageContent">
	
</div>
<script type="text/template" id="clueManage_detail_template">
    <div class="dialog-width">
        <p class="pull-left">
            线索详情
        </p>
        <input type="submit" value="返回" class="button search-button gobackPage goBack">
        <div class="clearfix"></div>
        <hr /><br />
        <div>
        	<p>上传捕头</p>
        	<span>{{data.name}}</span>
        	{{if data.taskNo}}
        	<p class="pull-right">已成功匹配任务{{data.taskNo}}</p>
        	{{else}}
        	<p class="pull-right">未成功匹配任务</p>
        	{{/if}}
        </div>
        <div>
        	<p>捕头所属公司</p>
        	<span>{{data.company}}</span>
        </div>
        <div>
        	<p>上传时间</p>
        	<span>{{data.createAt}}</span>
        </div>
        <div>
        	<p>线索车辆信息</p>
        	<span>车牌号：{{data.carNumber}}</span>
        	<span style="margin-left:20px;">车架号后6位：{{data.company}}</span>
        </div>
        <div class="mainfile">
        	<p>线索照片</p>
        	<div class="upimg">
        		<dl>
					<dt class="upload-pa">
		    				<div id="carNumberPhoto"></div>
							<div class="upload-list">
								<div class="upfile-item">
									{{if data.carNumberPhoto}}
									<img data-id="{{data.carNumberPhoto}}" src="http://oka19npup.bkt.clouddn.com/{{data.carNumberPhoto}}">
									<span class="delete-img" data-domid="carNumberPhoto" data-fileid="WU_FILE_0"></span>
									<input type="hidden" name="carNumberPhoto" value="{{data.carNumberPhoto}}">
									{{else}}
									<img data-id="{{data.carNumberPhoto}}" src="../../img/nopic.png">	
									{{/if}}
								</div>
							</div>
		    			</dt>
					<dd>车牌特写照</dd>
				</dl>
        		<dl>
					<dt class="upload-pa">
		    				<div id="carPhoto"></div>
							<div class="upload-list">
								<div class="upfile-item">
									{{if data.carPhoto}}
									<img data-id="{{data.carPhoto}}" src="http://oka19npup.bkt.clouddn.com/{{data.carPhoto}}">
									<span class="delete-img" data-domid="carPhoto" data-fileid="WU_FILE_0"></span>
									<input type="hidden" name="carPhoto" value="{{data.carPhoto}}">
									{{else}}
									<img data-id="{{data.carPhoto}}" src="../../img/nopic.png">	
									{{/if}}
								</div>
							</div>
		    			</dt>
					<dd>全车背景照</dd>
				</dl>
        	</div>
        </div>
        <div class="hopeprice areaInfo">
        	<p>定位信息</p>
        	<div>
        		<label>GPRS</label>
        		<span>{{data.fingerprint}}</span>
        	</div>
        	<div>
        		<label>上传地址</label>
        		<span>{{data.ipCity}}</span>
        	</div>
        	<div>
        		<label>IPd地址</label>
        		<span>{{data.ipCity}}</span>
        	</div>
        	{{if data.taskNo}}
        	<input type="button" value="审核" class="button search-button auditClue" style="margin-bottom:40px;width:150px;height:30px;">
        	{{/if}}
        </div>
    </div>
</script>
<script type="text/javascript">
seajs.use('modules/xinxiyuan/clue/clue-manage-detail', function(ClueManageDetail) {
    var ClueManageDetail = new ClueManageDetail();
    ClueManageDetail.init();
});
</script>
