<div class="dataContent sendMoneyDetail">

</div>

<script type="text/template" id="sendMoney_detail_template">
	<div class="dialog-width noTable">
		<p class="pull-left">
			提现基本详情
		</p>
		<a href="javascript:;" class="button gobackPage goBack">返回</a>
		<p class="showTaskState pull-right">{{menuState(data.state)}}</p>
		<div class="clearfix"></div>
		<hr /><br />
		<p>提现申请人基本信息</p>
		<table>
			<tr>
				<th>账号</th>
				<td>{{data.downStreamVo.phone}}</td>
				<th>微信账号</th>
				<td>{{data.downStreamVo.wechat}}</td>
			</tr>
			<tr>
				<th>负责人</th>
				<td>{{data.downStreamVo.linkman}}</td>
				<th>联系电话</th>
				<td>{{data.downStreamVo.contactPhone}}</td>
			</tr>
			<tr>
				<th>主体名称</th>
				<td colspan="3">{{data.downStreamVo.company}}</td>
			</tr>
		</table>
		<p>提现申请人收款信息</p>
		<table>
			<tr>
				<th>提现单号</th>
				<td colspan="5">{{data.flow}}</td>
			</tr>
			<tr>
				<th>提现金额</th>
				<td colspan="5">{{data.amount}}元</td>
			</tr>
			<tr>
				<th>收款账号(支付宝)</th>
				<td colspan="2">{{data.downStreamVo.alipay}}</td>
				<td colspan="3">{{data.downStreamVo.alipayName}}</td>
			</tr>
			<tr>
				<th>收款账号(银行卡)</th>
				<td>卡号:{{data.downStreamVo.bankCard}}</td>
				<td>开户行:{{data.downStreamVo.bankName}}</td>
				<td>收款人姓名:{{data.downStreamVo.payeeName}}</td>
			</tr>
		</table>
		{{if data.state === "completed"}}
		<p>打款信息</p>
		<table>
			<tr>
				<th>实际打款金额</th>
				<td colspan="5">{{data.amount}}元</td>
			</tr>
			<tr>
				<th>打款时间</th>
				<td colspan="5">{{data.payTime}}</td>
			</tr>
			{{if data.payWay == "1"}}
			<tr>
				<th>打款账号(支付宝)</th>
				<td colspan="2">{{data.downStreamVo.alipay}}</td>
				<td colspan="3">{{data.downStreamVo.alipayName}}</td>
			</tr>
			{{else}}
			<tr>
				<th>打款账号(银行卡)</th>
				<td>卡号:{{data.downStreamVo.bankCard}}</td>
				<td>开户行:{{data.downStreamVo.bankName}}</td>
				<td>收款人姓名:{{data.downStreamVo.payeeName}}</td>
			</tr>
			{{/if}}
		</table>
		<div class="showImg" style="font-weight: 900;">实际打款凭证: {{if data.voucher1}}
			<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" src="{{viewImgRoot}}{{data.voucher1}}?imageMogr2/auto-orient/thumbnail/100x100" /> {{/if}} {{if data.voucher2}}
			<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" src="{{viewImgRoot}}{{data.voucher2}}?imageMogr2/auto-orient/thumbnail/100x100" /> {{/if}} {{if data.voucher3}}
			<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" src="{{viewImgRoot}}{{data.voucher3}}?imageMogr2/auto-orient/thumbnail/100x100" /> {{/if}}
		</div>
		{{/if}} {{if data.state === "withdrawing"}}
		<a href="javascript:;" class="button playMoney">打款</a>
		<a href="javascript:;" class="button rejectMoney">拒绝提现申请</a> {{/if}}
	</div>
</script>

<script type="text/template" id="sendMoney_sure_template">
	<div class="officer-width">
		<form id="play-money-form">
			<table class="noboder">
				<tbody>
					<tr>
						<td>发放类型</td>
						<td colspan="3">
							<select name="payWay" id="selectPay">
	                            <option value="1">支付宝</option>
	                            <option value="2">银行卡</option>
	                        </select>
						</td>
					</tr>
					<tr class="changePaystyle" id="payStyle">
						<td>支付宝账号</td>
						<td colspan="3">
							<input type="text" class="isMobile" value="{{data.downStreamVo.alipay}}" />
						</td>
					</tr>
					<tr class="changePaystyle">
						<td>银行卡账号</td>
						<td>
							<input type="text" class="OnlyPrice" value="{{data.downStreamVo.bankCard}}" />
						</td>
						<td>开户支行</td>
						<td>
							<input type="text" value="{{data.downStreamVo.bankName}}" />
						</td>
					</tr>
					<tr>
						<td>申请提现金额</td>
						<td>
							<input type="text" class="OnlyPrice" value="{{data.amount}}" disabled="disabled">
						</td>
						<td>实际发放金额</td>
						<td>
							<input type="text" class="OnlyPrice" name="actualAmount" value="" placeholder="请填写金额" />
						</td>
					</tr>
					<tr>
						<td>上传打款凭证</td>
						<td colspan="3">
							<div class="upimg" style="height:120px;width:116px;float:left;">
								<dl>
									<dt class="upload-pa">
					    				<div id="voucher1"></div>
										<div class="upload-list">
											<div class="upfile-item">
												{{if data.voucher1}}
												<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" src="{{viewImgRoot}}{{data.voucher1}}?imageMogr2/auto-orient/thumbnail/100x100">
												<span class="delete-img"></span>
												<input type="hidden" name="voucher1" value="{{data.voucher1}}">
												{{/if}}
											</div>	
										</div>
					    			</dt>
								</dl>
							</div>
							<div class="upimg" style="height:120px;width:116px;float:left;">
								<dl>
									<dt class="upload-pa">
					    				<div id="voucher2"></div>
										<div class="upload-list">
											<div class="upfile-item">
												{{if data.voucher2}}
												<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" src="{{viewImgRoot}}{{data.voucher2}}?imageMogr2/auto-orient/thumbnail/100x100">
												<span class="delete-img"></span>
												<input type="hidden" name="voucher2" value="{{data.voucher2}}">
												{{/if}}
											</div>
										</div>
					    			</dt>
								</dl>
							</div>
							<div class="upimg" style="height:120px;width:116px;float:left;">
								<dl>
									<dt class="upload-pa">
					    				<div id="voucher3"></div>
										<div class="upload-list">
											<div class="upfile-item">
												{{if data.voucher3}}
												<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" src="{{viewImgRoot}}{{data.voucher3}}?imageMogr2/auto-orient/thumbnail/100x100">
												<span class="delete-img"></span>
												<input type="hidden" name="voucher3" value="{{data.voucher3}}">
												{{/if}}
											</div>
										</div>
					    			</dt>
								</dl>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</script>

<script type="text/template" id="rejectMoney_template">
	<div class="officer-width">
		<textarea class="rejectReason" placeholder="请填写原因" style="width:100%;height:40px;resize:none;"></textarea>
	</div>
</script>

<script type="text/javascript">
	seajs.use('modules/sendMoney/sendMoney-detail', function(SendMoneyDetail) {
		var SendMoneyDetail = new SendMoneyDetail();
		SendMoneyDetail.init();
	});
</script>