<div class="dataContent creditorOrderContent">
	
</div>
<script type="text/template" id="creditor_detail_template">
    <div class="dialog-width public_css">
        <p class="pull-left detail_css">
            任务详情
        </p>
        <a href="javascript:;" class="button gobackPage goBack">返回</a>
        <p class="showTaskState pull-right">{{menuState(data.state)}}</p>
        <div class="clearfix"></div>
        <hr /><br />
        <p>基本信息</p><br />
        
        <table class="taskTable">
        	<tr> 
            <th>任务号：</th>
            <td>{{data.taskNo}}</td>
            <th>任务类型：</th>
            <td>{{menuState(data.entrust)}}</td>
            <th>任务发起：</th>
            <td>{{data.upstreamName}}</td>
          </tr>
          <tr>
            <th>车主姓名：</th>
            <td>{{data.debtor}}</td>
            <th>车牌号：</th>
            <td>{{data.carNumber}}</td>
            <th>车型：</th>
            <td>{{data.carBrand}}-{{data.carSeries}}-{{data.carModel}}</td>
          </tr>
          <tr>
            <th>颜色：</th>
            <td>{{data.carColor}}</td>
            <th>车辆识别号：</th>
            <td>{{data.carId}}</td>
            <th>车辆发动机号：</th>
            <td>{{data.engineId}}</td>
          </tr>
          <tr>
            <th>任务发布时间：</th>
            <td>{{data.createAt}}</td>
            <th>商务姓名：</th>
            <td>{{data.businessManager}}</td>
            <th>渠道经理：</th>
            <td>{{data.channelManager}}</td>
          </tr>
        </table>
        <div>
          <p>备注信息</p>
          <div class="remark">{{data.remark}}</div>
        </div>
        <div class="imgRecord">
          <p>催收记录</p>
          {{each data.attachmentVoList data index}}
          <img data-id="{{data.url}}" src="{{viewImgRoot}}{{data.url}}?imageMogr2/auto-orient/thumbnail/100x100" alt="图片" onerror="this.src='/src/img/nopic.png'" title="附件{{index+1}}" class="preview-img hand"/>
          {{/each}}
        </div>
        <div class="upmainfile">
            <div>
                <span>违章信息</span>
                <table>
                    <thead>
                        <th></th>
                        <th>车牌号</th>
                        <th>信息描述</th>
                        <th>信息修复地点</th>
                        <th width="10%">信息修复城市</th>
                        <th>发生时间</th>
                    </thead>
                    <tbody id="distribution-illegalList-container"></tbody>
                </table>
                <div class="page-box pagination" id="page_container"></div>
            </div>
        </div>
        <div class="mainfile">
        	<p>线索信息</p>
        	{{each data.traceVoList data index}}
        	<div class="upimg pull-left">
        		<dl>
    					<dt>
    						<div class="upfile-item">
    							<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.carPhoto}}" src="{{viewImgRoot}}{{data.carPhoto}}?imageMogr2/auto-orient/thumbnail/100x100">
    						</div>
    	    			</dt>
    					<dd>全车背景照</dd>
    				</dl>
        	</div>
        	<div style="margin:1px 0;width: 84%;" class="pull-left">
            <table class="taskTable">
              <tr>
                <th>上传人员</th>
                <td>{{data.name}}----{{if data.role === 'type_A'}}兼职线人{{/if}}{{if data.role === 'type_B'}}捕头----{{officerState(data.downstreamType)}}{{/if}}{{if data.role === 'type_C'}}自有线人{{/if}}</td>
                <th>联系电话</th>
                <td>{{data.phone}}</td>
              </tr>
              <tr>
                <th>上传时间</th>
                <td>{{data.createAt}}</td>
                <th>车架号后六位</th>
                <td>{{data.carId}}</td>
              </tr>
              <tr>
                <th>GPS信息</th>
                <td colspan="3">{{data.location}}</td>
              </tr>
              <tr>
                <th>定位</th>
                <td colspan="3" id="{{data.carPhoto}}">{{getPositionByImage(data.carPhoto)}}</td>
              </tr>
              {{if data.role === 'type_A' || data.role === 'type_C'}}
              <tr>
                <th>GPS</th>
                <td {{if data.gpsSource !== 1}}colspan="3"{{/if}}  id="install">{{if typeof data.gpsSource ==='number' }}{{if data.gpsSource === 0}}自己安装{{/if}}{{if data.gpsSource === 1}}他人协助安装{{/if}}{{if data.gpsSource === 2}}未安装{{/if}}{{else}}未安装{{/if}}</td>

                {{if data.gpsSource === 1}}
                <th>安装人员</th>
                <td>{{data.gpsPerson}}</td>
                {{/if}}
              </tr>
              {{/if}}
            </table>
          </div>
        	{{/each}}
        </div>
        <div class="hopeprice">
        	<p>处置费用</p>
        	{{each data.traceVoList data index}}
        	{{if data.role === 'type_B'}}
        	<div>
        		<label>意愿处置费用:</label>
        		<span>{{data.estimatedCost}}</span>
        	</div>
        	{{/if}}
        	{{/each}}
        	<div>
        		<label>处置费用:</label>
        		<span>{{data.estimatedPrice}}</span>
        	</div>
        	<div>
        		<label>资产查找费:</label>
        		<span>{{data.assetPrice}}</span>
        	</div>
        	<div>
        		<label>第三方处置清收费:</label>
        		<span>{{data.thirdpartyPrice}}</span>
        	</div>
        </div>
        {{if data.state === "hunterReceive"}}
        <div class="mainfile">
        	<p>交车凭证</p>
        	<div class="upimg">
        		<p style="font-weight: 100;margin-left:10px;">债权方交车照片</p>
        		{{each data.receiveCarVoList data index}}
        		<dl>
					<dt>
						<div class="upfile-item">
							<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.url}}" src="{{viewImgRoot}}{{data.url}}?imageMogr2/auto-orient/thumbnail/100x100">
						</div>
	    			</dt>
				</dl>
        		{{/each}}
        		<div class="clearfix"></div>
	    		<p style="font-weight: 100;margin-left:10px;">交车单照片</p>
	    		{{each data.rectVoList data index}}
	    		<dl>
					<dt>
						<div class="upfile-item">
							<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.url}}" src="{{viewImgRoot}}{{data.url}}?imageMogr2/auto-orient/thumbnail/100x100">
						</div>
	    			</dt>
				</dl>
	        	{{/each}}
	        	<p style="font-weight: 100;margin-left:10px;">收车视频</p>
          {{each data.receiveVideoList data index}}
          <dl>
          <dt>
            <div class="upfile-item">
              <video width="150" height="150" controls="controls">
                <source class="preview-img hand" src="{{viewImgRoot}}{{data.url}}" type="video/mp4"></source>
              </video>
            </div>
            </dt>
        </dl>
            {{/each}}
            <p style="font-weight: 100;margin-left:10px;">收车视频缩略图</p>
          {{each data.receiveVideoCoverList data index}}
          <dl>
          <dt>
            <div class="upfile-item">
              <img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.url}}" src="{{viewImgRoot}}{{data.url}}?imageMogr2/auto-orient/thumbnail/100x100">
            </div>
            </dt>
        </dl>
            {{/each}}
        	</div>
        </div>
        {{/if}}
        {{if data.state === 'hunterUnreceive' && trailer != 0}}
        <div class="mainfile">
        	<p>拖车失败记录</p>
        	{{each data.trailerFailList data index}}
        	<div class="upimg">
        		<p class="failRecord" style="font-weight: 500;">
        			<span>捕头：</span>
        			<span>失败原因：</span>
        			<span>上传凭证时间：</span>
        			<span>备注说明：</span>
        		</p>
        		<p style="font-weight: 500;margin-left:20px;">图片凭证</p>
        		<dl>
					<dt>
						<div class="upfile-item">
							<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.url}}" src="{{viewImgRoot}}{{data.url}}?imageMogr2/auto-orient/thumbnail/100x100">
						</div>
	    			</dt>
				</dl>
				<div class="clearfix"></div>
				<p style="font-weight: 500;margin-left:20px;">视频凭证</p>
				<dl>
					<dt>
						<div class="upfile-item">
							<video width="150" height="150" controls="controls">
								<source class="preview-img hand" src="{{viewImgRoot}}{{data.video}}" type="video/mp4"></source>
							</video>
						</div>
	    			</dt>
				</dl>
        	</div>
        	{{/each}}
        </div>
        {{/if}}
    	{{if data.state === 'hunterReceive'}}
    	<a class="button search-button isSure" href="javascript:;">平台收车</a>
    	{{/if}}
    </div>
</script>

<script type="text/template" id="distribution-illegalList-template">
    {{each list item index}}
    <tr>
        <td>{{index+1}}</td>
        <td>{{item.carNumber}}</td>
        <td>{{item.desc}}</td>
        <td>{{item.site}}</td>
        <td>{{item.city}}</td>
        <td>{{item.occurAt}}</td>
    </tr>
    {{/each}}
</script>

<script type="text/javascript">
seajs.use('modules/qudao/creditor/creditor-order-detail', function(CreditorOrderDetail) {
    var CreditorOrderDetail = new CreditorOrderDetail();
    CreditorOrderDetail.init();
});
</script>