<div class="dataContent officer-detail">
	
</div>
<script type="text/template" id="officer_detail_template">
    <div class="dialog-width public_css">
        <p class="pull-left">
            捕头详情
        </p>
        <a href="javascript:;" class="button gobackPage goBack">返回</a>
        <div class="clearfix"></div>
        <hr /><br />
        <table class="taskTable">
        	<tr>
        		<th>账号：</th>
        		<td>{{data.phone}}</td>
        		<th>申请捕头类型：</th>
        		<td colspan="3">{{if data.property === 1}}企业捕头{{else}}个人捕头{{/if}}</td>
        	</tr>
        	{{if data.property === 1}}
        	<tr>
        		<th>公司名称：</th>
        		<td>{{data.company}}</td>
        		<th>公司负责人：</th>
        		<td>{{data.name}}</td>
        	</tr>
        	<tr>
        		<th>公司地址：</th>
        		<td>{{data.address}}</td>
        		<th>业务类型：</th>
        		<td>{{stateToString(data.type)}}</td>
        	</tr>
        	<tr>
        		<th>申请区域：</th>
        		<td>
        		{{each data.area item index}}
            		{{item.provinceName}}
            	{{/each}}
        		</td>
        		<th>法人代表：</th>
        		<td>{{data.legalPerson}}</td>
        	</tr>
        	<tr>
        		<th>营业执照编号：</th>
        		<td>{{data.businessLicenseNo}}</td>
        		<th>法人手机号：</th>
        		<td>{{data.legalPersonMobile}}</td>
        	</tr>
        	<tr>
        		<th>法人身份证号：</th>
        		<td>
            		{{data.legalIdCard}}
        		</td>
        		<th>企业邮箱：</th>
        		<td colspan="3">{{data.coEmail}}</td>
        	</tr>
        	{{else}}
        	<tr>
        		<th>姓名：</th>
        		<td>{{data.name}}</td>
        		<th>身份证号：</th>
        		<td colspan="3">
            		{{data.idCard}}
        		</td>
        	</tr>
        	<tr>
        		<th>业务类型：</th>
        		<td>{{stateToString(data.type)}}</td>
        		<th>申请区域：</th>
        		<td>
        		{{each data.area item index}}
            		{{item.provinceName}}
            	{{/each}}
        		</td>
        	</tr>
        	{{/if}}
        </table>
        <div class="mainfile">
			<p>资质</p>
			<div class="upimg">
				{{if data.property === 1}}
				<dl>
					<dt>
						<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.businessLicense}}" src="{{viewImgRoot}}{{data.businessLicense}}?imageMogr2/auto-orient/thumbnail/100x100">
		    		</dt>
					<dd>营业执照</dd>
				</dl>
				<dl>
					<dt>
						<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.legalPersonIdImg}}" src="{{viewImgRoot}}{{data.legalPersonIdImg}}?imageMogr2/auto-orient/thumbnail/100x100">
		    		</dt>
					<dd>法人身份证照片</dd>
				</dl>
				<dl>
					<dt>
						<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.legalPersonHandIdImg}}" src="{{viewImgRoot}}{{data.legalPersonHandIdImg}}?imageMogr2/auto-orient/thumbnail/100x100">
		    		</dt>
					<dd>法人手持身份证正面照片</dd>
				</dl>
				<dl>
					<dt>
						<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.linkmanIdImg}}" src="{{viewImgRoot}}{{data.linkmanIdImg}}?imageMogr2/auto-orient/thumbnail/100x100">
		    		</dt>
					<dd>负责人身份证照片</dd>
				</dl>
				<dl>
					<dt>
						<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.linkmanHandIdImg}}" src="{{viewImgRoot}}{{data.linkmanHandIdImg}}?imageMogr2/auto-orient/thumbnail/100x100">
		    		</dt>
					<dd>负责人手持身份证正面照片</dd>
				</dl>
				{{else}}
				<dl>
					<dt>
						<img class="preview-img hand" onerror="this.src='/src/img/nopic.png'" data-id="{{data.linkmanIdImg}}" src="{{viewImgRoot}}{{data.linkmanIdImg}}?imageMogr2/auto-orient/thumbnail/100x100">
		    		</dt>
					<dd>负责人身份证照片</dd>
				</dl>
				{{/if}}
			</div>
		</div>
        <div class="instruction">
        	<div class="advantage">
        		<label>优势说明</label>
        		<span>{{data.introduce}}</span>
        	</div>
        </div>
    	{{if data.state === "wait" || data.state === "new"}}
        	<a class="button officerAudit">审核认证</a>
        	{{else}}
        	<span class="button disabled_btn">{{officerClueState(data.state)}}</span>
        {{/if}}
    </div>
</script>
<script type="text/template" id="officer_audit_template">
	<div class="divied-width ">
        <div class="divied-type">
        	<input type="radio" name="audit" value="1" class="through" />认证通过
        	<input type="radio" name="audit" value="2" class="through" />认证不通过
        </div>
        <div class="divied-content">
        	<textarea placeholder="请填写原因" maxlength="40" class="butouReason"></textarea>
        </div>
    </div>
</script>
<script type="text/javascript">
seajs.use('modules/officermanage/officer-manage-detail', function(OfficerManageDetail) {
    var OfficerManageDetail = new OfficerManageDetail();
    OfficerManageDetail.init();
});
</script>